{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Add Rules {% endblock %}
{% block head %}

{% endblock %}
{% block content %}
  
<section class="content container-fluid">
  <!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
  </div> -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="manage_admin">
   <div class="add_min d-flex justify-content-between"> 
    
    <h3>Add New Rule</h3>
  </div>
  <form action="{% url 'dashboard:add-rules' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <div class="form-group" id="add-tournament-error">
          <label>*Add Rule </label>
          <select class="form-control" id="tournament_for_rule" name="tournament_for_rule">
            <option value="empty" disabled selected>Select tournament </option>
            {% for tour in tourn_instance %}
            <option value="{{tour.id}}"> {{tour.name_of_tournament}} </option>
            {% endfor %}   
          </select>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6">
        <div class="form-group" id="add-rule-error">
          <label>*Add Rule</label>
          <textarea rows="10" cols="100"
          class="form-control" name="general_rules" id="general_rules"></textarea>
        </div>
      </div>
    </div>
        <button type="submit" class="edit register btn btn-success" id="add_type_btn"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button>
        <a href="/dashboard/rule-list">
          <button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel
          </button></a>
        </form>
      </div>
    </section>
 
     {% endblock %}
  {% block js %}
 <script>
    $('#add_type_btn').on("click", function(e) {
    // e.preventDefault();
    var general_rules = $("#general_rules").val();
    var select_tournament = $("#tournament_for_rule").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
      paras[0].parentNode.removeChild(paras[0]);
    if(select_tournament=='' || select_tournament==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Please select the tournament.";
      document.getElementById('add-tournament-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(general_rules=='' || general_rules==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Rule can't be empty !";
      document.getElementById('add-rule-error').appendChild(x);
      validationError=true;
      return false;
    }

    return true;
  });

  // $('.delete').on('click', function() {
  //   window.history.back();
  // });
</script>
{% endblock %}
