{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Products {% endblock %}
{% block head %}

{% endblock %}
{% block content %}


{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="manage_admin">
    <div class="add_min d-flex justify-content-between">
        <h3>Add Products</h3>
    </div>
    <form action="{% url 'dashboard:add-product' %}" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">    
                <div class="form-group" id="credits-error">
                    <label>*Credits </label>
                    <input type="number" class="form-control" id="credits" name="credits" placeholder="Credits" min="0">
                </div>
                <div class="form-group" id="rate-error">
                    <label>*Rate_of_item </label>
                    <input type="number" class="form-control" id="rate_of_item" name="rate_of_item" placeholder="Rate_of_item"  min="0">
                </div>  
              </div>  
               <div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group" id="product-error">
                      <label>*Product_image</label>
                      <input type="file" class="form-control" id="product_image" name="product_image" accept="image/*">
                    </div> 
               </div>
        </div>
        <button type="submit" class="add-product  btn btn-success"><span><i class="fa fa-check" aria-hidden="true"></i></span> Save</button>
        <button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span>Cancel</button>
    </form>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

  $('.add-product').on("click", function() {
    var credits = $("#credits").val();
    var rate_of_item = $("#rate_of_item").val();
    var product_image = $("#product_image").val();
    
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);
     if(credits=='' || credits==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Credit can't be empty !";
      document.getElementById('credits-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(product_image=='' || product_image==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Product image can't be empty.";
      document.getElementById('product-error').appendChild(x);
      validationError=true;
      return false;
    }  
    if(rate_of_item=='' || rate_of_item==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Rate of item name can't be empty.";
      document.getElementById('rate-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });
</script>
<script>
    $('.delete').on('click', function() {
      window.history.back();
    });
</script>
{% endblock %}