{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
</div> -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<section class="content container-fluid">
	<div class="manage_admin">
		<div class="add_min d-flex justify-content-between">
			<h3>Add Team</h3>
		</div>
		<form action="{% url 'dashboard:add-team' %}" method="post" id="register_admin" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6">
					<div class="form-group" id="name-error">
						<label>*Name of Team </label>
						<input type="text" class="form-control" id="name_of_team" name="name_of_team" placeholder="Team Name" maxlength="60">
					</div>
					<div class="form-group" id="team-owner-error">
						<label>*Team Owner </label>
						<input type="text" class="form-control" id="team_owner" name="team_owner" placeholder="Team Name" maxlength="60">
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-6">
					<div class="form-group" id="image-error">
						<label>*Team Image</label>
						<input type="file"  class="form-control" id="team_image" name="team_image"accept="image/*">
					</div>
				</div>
			</div>
      	<button type="submit"  class="register-user  btn btn-success"><span><i class="fa fa-check" aria-hidden="true"></i></span> Save</button>
      	<button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </form>
  </div>
</section>
  {% endblock %}

  {% block js %}
<!--	<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>-->
	<script type="text/javascript">

 // function validationCheck(){
 	$('.register-user').on("click", function() {
    var name_of_team = $("#name_of_team").val();
    var team_image = $("#team_image").val();
    var team_owner = $("#team_owner").val();


    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);

	if(name_of_team=='' || name_of_team==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Game name can't be empty.";
      document.getElementById('name-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(team_image=='' || team_image==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="File can't be empty.";
      document.getElementById('image-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(team_owner=='' || team_owner==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Team Owner name can't be empty.";
      document.getElementById('team-owner-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });


  </script>
  <script>
    $('.delete').on('click', function() {
      window.history.back();
    });
  </script>

  {% endblock %}