{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
</div> -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

	<div class="manage_admin">
		<div class="add_min d-flex justify-content-between">
			<h3>Add Matches</h3>
		</div>
		<form action="{% url 'dashboard:add-new-match' %}" method="post" enctype="multipart/form-data" autocomplete="off">
			{% csrf_token %}
			<div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <div class="form-group" id="team_home_error">
                <label>*Team Home</label>
                <select id="team_home" class="form-control already-selected" name="team_home">
                    <option value="team_home" disabled selected>---Select Team--</option>
                    {% for all_team_match in get_team_model %}
                    <option value="{{all_team_match.id}}">{{all_team_match.team_name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group" id="tournament_error" >
                <label>*Tournament</label>
                <select id="tournament" class="form-control" name="tournament">
                    <option value="team_home" disabled selected>---Select Tournament--</option>
                    {% for all_tournament_match in get_tournament  %}
                    <option value="{{all_tournament_match.id}}">{{all_tournament_match.name_of_tournament}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group" id="end-date-error">
                <label>*End date </label>
                <input type="text" class="form-control" id="end_date" name="end_date" placeholder="End date" value="{{edit_tournament.tourn_end_date|date:'Y-m-d g:i:s A'}}" onkeydown="return false">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="form-group" id="team_away_error">
                <label>*Team Away</label>
                <select id="team_away" class="form-control already-selected" name="team_away">
                    <option value="team_away" disabled selected>---Select Team--</option>
                    {% for all_team_match in get_team_model %}
                    <option value="{{all_team_match.id}}">{{all_team_match.team_name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group" id="start-date-error">
                <label>*Start Date</label>
                <input type="text" class="form-control" id="start_date" name="start_date" placeholder="Start Date" onkeydown="return false" value="{{edit_tournament.tourn_start_date|date:'Y-m-d g:i:s A'}}">
                </div>
            </div>
        </div>
        <button type="submit"  class="add-match  btn btn-success"><span><i class="fa fa-check" aria-hidden="true"></i></span> Save</button>
        <button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </form>
  </div>

  {% endblock %}

  {% block js %}
	<!-- <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script> -->
	<script type="text/javascript">
  $(document).ready(function(){
    $('#start_date').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss A',
    });
    $('#end_date').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss A',
    });
  })
 // function validationCheck(){
 	$('.add-match').on("click", function() {
    var team_home = $("#team_home").val();
    var team_away = $("#team_away").val();
    var tournament = $("#tournament").val();
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    var split_start_date = start_date.substr(0,start_date.indexOf(' '));
    var split_end_date = end_date.substr(0,end_date.indexOf(' '));
    var start_date_obj = new Date(split_start_date);
    var end_date_obj = new Date(split_end_date);

    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);

    if(team_home=='' || team_home==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Team Home can't be empty.";
      document.getElementById('team_home_error').appendChild(x);
      validationError=true;
      return false;
    }
    if(team_away=='' || team_away==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Team Away can't be empty.";
      document.getElementById('team_away_error').appendChild(x);
      validationError=true;
      return false;
    }
    if(tournament=='' || tournament==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Tournament can't be empty.";
      document.getElementById('tournament_error').appendChild(x);
      validationError=true;
      return false;
    }
    if(start_date=='' || start_date==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Start date can't be empty.";
      document.getElementById('start-date-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(end_date=='' || end_date==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="End date can't be empty.";
      document.getElementById('end-date-error').appendChild(x);
      validationError=true;
      return false;
    }

    if(end_date_obj < start_date_obj){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="End Date is less than Start date.";
      document.getElementById('end-date-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });

  $("select.already-selected").change(function () {
    $("select.already-selected option[value='" + $(this).data('index') + "']").prop('disabled', false);
    $(this).data('index', this.value);
    $("select.already-selected option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
    $(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
    });
  </script>
  <script>
    $('.delete').on('click', function() {
      window.history.back();
    });
  </script>

  {% endblock %}