{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
</div> -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<section class="content container-fluid">
	<div class="manage_admin">
		<div class="add_min d-flex justify-content-between">
			<h3>Add Game</h3>
		</div>
		<form action="{% url 'dashboard:add-game' %}" method="post" id="register_admin" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6">
					<div class="form-group" id="name-error">
						<label>*Name of Game </label>
						<input type="text" class="form-control" id="name_of_game" name="name_of_game" placeholder="Game Name" maxlength="60">
					</div>
					<div class="form-group" id="start-date-error">
						<label>*Start Date </label>
						<input type="text" class="form-control" id="start_date" name="start_date" placeholder="Start Date" onkeydown="return false">
					</div>
					<div class="form-group" id="prize-error">
						<label>*Prize (in $) </label>
						<input type="number" class="form-control" id="prize" name="prize" placeholder="Prize Amount" min="0">
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-6">
					<div class="form-group" id="image-error">
						<label>*Game Image</label>
						<input type="file"  class="form-control" id="game_image" name="game_image" accept="image/*">
					</div>
					<div class="form-group" id="city-error">
						<label>*City </label>
						<input type="text" class="form-control" id="city" name="city" placeholder="City" maxlength="40">
					</div>
          <div class="form-group" id="cover-image-error">
            <label>*Cover Image</label>
            <input type="file"  class="form-control" id="cover_image" name="cover_image" accept="image/*">
    			</div>
				</div>
      </div>
      	<button type="submit"  class="add-new-game  btn btn-success"><span><i class="fa fa-check" aria-hidden="true"></i></span> Save</button>
      	<button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </form>
  </div>
</section>
  {% endblock %}

  {% block js %}

	<script type="text/javascript">
	$(document).ready(function(){
		$('#start_date').datetimepicker({
		  format: 'YYYY-MM-DD hh:mm:ss A',
		});
  });

 // function validationCheck(){
 	$('.add-new-game').on("click", function() {
    var name_of_game = $("#name_of_game").val();
    var game_image = $("#game_image").val();
    var start_date = $("#start_date").val();
    var split_start_date = start_date.substr(0,start_date.indexOf(' '));
    var start_date_obj = new Date(split_start_date);
    var tournament_city = $("#city").val();
    var prize = $("#prize").val();
    var cover_image = $("#cover_image").val();

    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);

	if(name_of_game=='' || name_of_game==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Game name can't be empty.";
      document.getElementById('name-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(game_image=='' || game_image==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="File can't be empty.";
      document.getElementById('image-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(start_date=='' || start_date==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Start date can't be empty.";
      document.getElementById('start-date-error').appendChild(x);
      validationError=true;
      return false;
    }

	if(tournament_city=='' || tournament_city==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="City can't be empty.";
      document.getElementById('city-error').appendChild(x);
      validationError=true;
      return false;
    }
	if(prize=='' || prize==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Prize can't be empty.";
      document.getElementById('prize-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(cover_image=='' || cover_image==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="File can't be empty.";
      document.getElementById('cover-image-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });

  </script>
  <script>
    $('.delete').on('click', function() {
      window.history.back();
    });
  </script>

  {% endblock %}