{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game User {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  <section class="content container-fluid">
   <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="manage_admin">
     <div class="add_min d-flex justify-content-between"> 
      <h3>Add Vechicle</h3>
    </div>
    <form action="add_game_user" method="post" id="register_form" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="form-group" id="register-fname-error">
            <label>*First Name</label>
            <!-- <input type="text" class="form-control" required="" name="name"> -->
            <input type="text" class="form-control" name="name" placeholder="First Name" maxlength="25" id="first_name" pattern="[a-zA-Z]*" title="Only Alphabets allowed">
          </div>
           <div class="form-group" id="register-status-error">
          <label>Status</label>
          <select class="form-control" name="status" id="user_status">
            <option value="" selected disabled="">select status</option>
            <option value="A">Active</option>           
            <option value="I">Inactive</option>
          </select>
        </div>
          <div class="form-group" id="register-password-error">
            <label>Password</label><span class="not-verify"></span>
            <input type="password" minlength="8" id="password" class="form-control"name="password" maxlength="25">
          </div>
          <div class="form-group" id="register-dob-error">
            <label>*Date of Birth</label><span class="not-verify"></span>
            <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" onkeydown="return false">
          </div>
          
        </div>

        <div class="col-12 col-sm-6 col-md-6">
        
        <div class="form-group" id="register-lname-error">
          <label>*Last Name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Last Name" maxlength="25" id="last_name" pattern="[a-zA-Z]*" title="Only Alphabets allowed">
        </div>
        
        <div class="form-group" id="register-email-error">
          <label>*Email</label>
          <input type="email" class="form-control" value="" id="user_email" placeholder="Email" name="email" maxlength="45">
        </div>
        <div class="form-group" id="register-confirm-error">
          <label>Retype Password</label>
          <input type="password" minlength="8" class="form-control" id="confirm_password" name="confirm_password" maxlength="25">
        </div>
      </div>

    </div>

    <button type="submit" class="edit register  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button> 
    <button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
  </form>
</div>
</section>
<!-- /.content -->

{% endblock %}
{% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });
</script>

{% endblock %}