{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add User {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

	<!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
	</div> -->
	{% if messages %}
	{% for message in messages %}
	<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
	{% endfor %}
	{% endif %}
	<section class="content container-fluid">
		<div class="manage_admin">
			<div class="add_min d-flex justify-content-between"> 
				<h3>Add Staff</h3>
			</div>
			<form action="{% url 'dashboard:add_staff' %}" method="post" id="register_admin">
				{% csrf_token %}
				<div class="row">
					<div class="col-12 col-sm-6 col-md-6">

						<div class="form-group" id="register-role-error">
							<label>*Role</label>
							<select class="form-control" name="role" id="user_role">
								<option value="" selected disabled="">select role</option>
								<option value="super_admin">Super Admin</option>
								{% for group in group_list %}
								<option value="{{ group.id }}">{{ group.name|title }}</option>

								{% endfor %}
							</select>
						</div>
						<div class="form-group" id="register-fname-error">
							<label>*Name</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Admin" pattern="[a-zA-Z]*" title="Only Alphabets allowed" maxlength="25">
						</div>
						<div class="form-group" id="register-password-error">
							<label>Password</label><span class="not-verify"></span>
							<input type="password"  class="form-control" id="password" minlength="8", maxlength="25" name="password">
						</div>
						<div class="form-group" id="register-email-error">
							<label>*Email</label>
							<input type="email"  class="form-control" id="email" name="email" placeholder="Email Address" maxlength="45">
						</div>

					</div>

					<div class="col-12 col-sm-6 col-md-6">
						<div class="form-group" id="register-status-error">
							<label>Status</label>
							<select class="form-control"  name="status" id="user_status">
								<option value="" selected disabled="">select status</option>
								<option value="A">Active</option>
								<option value="I">Inactive</option>
							</select>
						</div>

						<div class="form-group" id="register-lname-error">
							<label>*Last Name</label>
							<input type="text"  class="form-control" id="last_name" name="last_name" placeholder="Admin" title="Only Alphabets allowed" maxlength="25" pattern="[a-zA-Z]*">
						</div>
						
						<div class="form-group" id="register-confirm-error">
							<label>Retype Password</label>
							<input type="password"  class="form-control" id="confirm_password" name="confirm_password"  minlength="8", maxlength="25">
						</div>
          			</div>
      </div>
      <div class="access">
      	<h3>Access</h3>
      	<div class="access_list">
      		<ul>
      			{% for model in model_list %}
      			<li>

      				<label class="payment_gateway_checkbox"><input type="checkbox" name="models[]" value="{{ model.id }}">  
      					<span class="checkmark"></span>{{model|title}}
      				</li>
      				{% endfor %}

      			</ul> 
      		</div>
      	</div>

      	<button type="submit"  class="register-user  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button> 
      	<button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </form>
  </div>
</section>
  {% endblock %}

  {% block js %}
	<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript"> 

 // function validationCheck(){
 	$('.register-user').on("click", function() {
    var user_role = $("#user_role").find(":selected").val();
    var user_status = $("#user_status").find(":selected").val();
    var password = $("#password").val();
    var confirm_password = $("#confirm_password").val();
    var email = $("#email").val();
    var fname = $("#name").val();
    var lname = $("#last_name").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);
    if(user_role=='' || user_role==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Please Select User Role.";
      document.getElementById('register-role-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(user_status=='' || user_status==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Please Select User Status.";
      document.getElementById('register-status-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(fname=='' || fname==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="First name can't be empty.";
      document.getElementById('register-fname-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(lname=='' || lname==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Last name can't be empty.";
      document.getElementById('register-lname-error').appendChild(x);
      validationError=true;
      return false;
    }

    if(password=='' || password==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password can't be empty.";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(password.length < 8){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password must be of minimum 8 characters.";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(confirm_password=='' || confirm_password==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Confirm Password can't be empty.";
      document.getElementById('register-confirm-error').appendChild(x);
      validationError=true;
      return false;
    }
    if (password!=confirm_password) {
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password Doesn't match with confirm password";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(email=='' || email==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Email can't be empty.";
      document.getElementById('register-email-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(ValidateEmail(email)==false){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Not a valid email.";
      document.getElementById('register-email-error').appendChild(x);
      validationError=true;
      return false;
    }

    return true;
  });

  function ValidateEmail(x) {
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
      return false;
    }
    return true;
  }
  </script>
  <script>
    $('.delete').on('click', function() {
      window.history.back();
    });
  </script>

  {% endblock %}