{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Rove | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <!-- Bootstrap 3.3.7 -->

    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css' %}"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/font-awesome/css/font-awesome.min.css' %}"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/Ionicons/css/ionicons.min.css' %}"
    />
    <!-- Theme style -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/dist/css/AdminLTE.css' %}"
    />
    <link href="../../static/main/css/style.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/dist/css/skins/_all-skins.min.css' %}"
    />
    <!-- Morris chart -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/morris.js/morris.css' %}"
    />
    <!-- jvectormap -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/jvectormap/jquery-jvectormap.css' %}"
    />
    <!-- Date Picker -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"
    />
    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"
      type="text/css"
      media="screen"
      title="no title"
      charset="utf-8"
    />

    <link
      rel="stylesheet"
      href="{% static 'dashboard/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css"
    />

    <!-- bootstrap wysihtml5 - text editor -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}"
    />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"
      type="text/css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="{% static 'main/css/bootstrap-datepicker.css' %}"
    />
    <link rel="stylesheet" href="{% static 'dashboard/css/game.css' %}" />

    {% block head %} {% endblock %}
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="{% url 'dashboard:home' %}" class="logo bg-primary">
          <img src="{% static '/main/images/logo2.png' %}" class="form-logo" />
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top bg-primary">
          <!-- Sidebar toggle button-->
          <a
            href="#"
            class="sidebar-toggle"
            data-toggle="push-menu"
            role="button"
          >
            <span class="sr-only">Toggle navigation</span>
          </a>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li>
                <ul class="dropdown-menu">
                  <!-- inner menu: contains the actual data -->
                </ul>
              </li>
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img
                    src="{% static 'dashboard/dist/img/user2-160x160.jpg' %}"
                    class="user-image"
                    alt="User Image"
                  />
                  <span class="hidden-xs">{{ user.get_username }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img
                      src="{% static 'dashboard/dist/img/user2-160x160.jpg' %}"
                      class="img-circle"
                      alt="User Image"
                    />

                    <p>
                      {{ user.get_username }}
                      <small>Member since Nov. 2012</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-right">
                      <a
                        href="{% url 'dashboard:logout' %}"
                        class="btn btn-default btn-flat"
                        >Sign out</a
                      >
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="active">
              <a href="{% url 'dashboard:home' %}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>

            <li class="active">
              <a href="/dashboard/user_management">
                <i class="fa fa-dashboard"></i> <span>User</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>
            <!--  <li class="active">
          <a href="">
            <i class="fa fa-dashboard"></i> <span>Roles</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li> -->
            <li class="active">
              <a href="/dashboard/vechicle">
                <i class="fa fa-dashboard"></i> <span>Vehicle</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>
            <li class="active">
              <a href="/dashboard/zone">
                <i class="fa fa-dashboard"></i> <span>Zone</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>
            <li class="active">
              <a href="/dashboard/promocode">
                <i class="fa fa-dashboard"></i> <span>PromoCode</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>
            <li class="active">
              <a href="/dashboard/driver">
                <i class="fa fa-dashboard"></i> <span>Driver</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>

            <li class="active">
              <a href="/dashboard/change_password">
                <i class="fa fa-dashboard"></i> <span>Settings</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper heightH-100">
        <section class="content container-fluid">
          <div class="box box-primary mt-0">
            <div class="box-body">
              {% block content %} {% endblock %}
            </div>
          </div>
        </section>
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer pannel-footer">
        <div class="pull-right hidden-xs"><b>Version</b> 2.4.0</div>
        <strong>Copyright &copy; 2020 <a href="">Rove</a>.</strong> All rights
        reserved.
      </footer>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="{% static 'dashboard/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'dashboard/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static 'dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'dashboard/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <!-- Morris.js charts -->
    <script src="{% static 'dashboard/bower_components/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'dashboard/bower_components/morris.js/morris.min.js' %}"></script>
    <!-- Sparkline -->
    <script src="{% static 'dashboard/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
    <!-- jvectormap -->
    <script src="{% static 'dashboard/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'dashboard/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- jQuery Knob Chart -->
    <script src="{% static 'dashboard/bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
    <!-- daterangepicker -->
    <script src="{% static 'dashboard/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'dashboard/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- datepicker -->
    <script src="{% static 'dashboard/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{% static 'dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
    <!-- Slimscroll -->
    <script src="{% static 'dashboard/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'dashboard/bower_components/fastclick/lib/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{% static 'dashboard/dist/js/pages/dashboard.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dashboard/dist/js/demo.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script
      type="text/javascript"
      charset="utf-8"
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="{% static 'main/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'main/js/jasny-bootstrap.min.js' %}"></script>

    <script type="text/javascript">
      $('.alert')
        .fadeTo(2000, 500)
        .slideUp(500, function() {
          $('.alert').slideUp(500);
        });

      $(function() {
        $('.datatable').DataTable({
          paging: true,
          lengthChange: true,
          searching: true,
          ordering: true,
          info: true,
          autoWidth: false
        });
      });
    </script>

    {% block js %} {% endblock %}
  </body>
</html>
