{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Staff User List {% endblock %}
{% block head %}

{% endblock %}
{% block content %}
  
<section class="content container-fluid">
  <!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
  </div> -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="manage_admin">
   <div class="add_min d-flex justify-content-between"> 
    
    <h3>Change Password</h3>
  </div>
  <form action="/dashboard/change_password/" method="post" id="forgotpwd">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group" id="add-role-error">
          <label>Old Password</label>
          <input type="password" class="form-control" name="oldpassword" id="oldpassword">
        </div>
		 <div class="form-group" id="add-role-error">
          <label>New Password</label>
          <input type="password" class="form-control" name="newpassword" id="newpassword">
        </div>
		 <div class="form-group" id="add-role-error">
          <label>Confirm Password</label>
          <input type="password" class="form-control" name="cpassword" id="cpassword">
        </div>
		
        <input type="submit" class="edit register btn btn-primary" value="save" >
        <a href="#">
        <button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel
        </button></a>
      </form>
    </div>
  </section>
 
     {% endblock %}
  {% block js %}
 <script>
    $('#add_role_btn').on("click", function(e) {
    var role = $("#add_role").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
      paras[0].parentNode.removeChild(paras[0]);
    if(role=='' || role==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Role can't be empty !";
      document.getElementById('add-role-error').appendChild(x);
      validationError=true;
      return false;
    }

    return true;
  });

  // $('.delete').on('click', function() {
  //   window.history.back();
  // });
  
  
  $( "#forgotpwd" ).validate({
        rules: {
			oldpassword: {
				required: true,
				
			},
			newpassword:
			{
				required: true,
			},
			cpassword: {
				required: true,
				equalTo: "#newpassword"
			}
		}
        });

</script>
{% endblock %}
