{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game User {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  <section class="content container-fluid">
   <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="manage_admin">
     <div class="add_min d-flex justify-content-between"> 
      <h3>Driver List</h3>
    </div>

	<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Driver</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form action="{% url 'dashboard:add_driver' %}" method="post" id="driveradd">
				{% csrf_token %}
      {% csrf_token %}
				<div class="modal-body mx-3">
				<div class="md-form mb-5">


				  <label data-error="wrong" data-success="right" for="firstname">First Name</label>
				  <input type="text" id="firstname" name ="firstname" class="form-control validate">
				</div>
				<div class="md-form mb-5">
				   <label data-error="wrong" data-success="right"  for="lastname">Last Name</label>
				  <input type="text" id="lastname" name="lastname" class="form-control validate">
			   
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="email">Email</label>
				  <input type="text" id="email" name="email" class="form-control validate">
			   
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="phonenumber">Phone Number</label>
				  <input type="text" id="phonenumber" name="phonenumber" maxlength="10" class="form-control validate">
				 
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="streetaddress">Street Address</label>
				  <input type="text" id="streetaddress" name="streetaddress" class="form-control validate">
				 
				</div>
		        <div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="city">City</label>
				  <input type="text" id="city" name="city" class="form-control validate">
				 
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="state">State</label>
				  <input type="text" id="state" name="state" class="form-control validate">
				 
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="zipcode">Zipcode</label>
				  <input type="text" id="zipcode" name="zipcode"  maxlength="6" class="form-control validate">
				 
				</div>
			  </div>
			 
			  <div class="modal-footer d-flex justify-content-center">
			  
			  <input type="submit" class="register-user  btn btn-success" value="Save">

			  </div>
	   </form>
    </div>
  </div>
</div>





	<div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="modal-content-outline">
              <div class="modal-header cus-mod-head">
                <button type="button" class="close cus-modal-crose" data-dismiss="modal">&times;</button>
                <h4 class="text-center">Edit Promocode</h4>
              </div>
				<form action="/dashboard/edit_driver/" method="post" id="driveredit">
				{% csrf_token %}
				<div class="modal-body mx-3">
				<div class="md-form mb-5">


				  <label data-error="wrong" data-success="right" for="firstname">First Name</label>
				  <input type="text" id="editfirstname" name ="firstname" class="form-control validate">
			   <input type="hidden" id="editid" name ="editid" class="form-control validate">
				</div>
				<div class="md-form mb-5">
				   <label data-error="wrong" data-success="right"  for="lastname">Last Name</label>
				  <input type="text" id="editlastname" name="lastname" class="form-control validate">
			   
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="email">Email</label>
				  <input type="text" id="editemail" name="email" class="form-control validate">
			   
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="phonenumber">Phone Number</label>
				  <input type="text" id="editphonenumber" name="phonenumber" maxlength="10" class="form-control validate">
				 
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="streetaddress">Street Address</label>
				  <input type="text" id="editstreetaddress" name="streetaddress" class="form-control validate">
				 
				</div>
		        <div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="city">City</label>
				  <input type="text" id="editcity" name="city" class="form-control validate">
				 
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="state">State</label>
				  <input type="text" id="editstate" name="state" class="form-control validate">
				 
				</div>
				<div class="md-form mb-5">
				  <label data-error="wrong" data-success="right"  for="zipcode">Zipcode</label>
				  <input type="text" id="editzipcode" name="zipcode"  maxlength="6" class="form-control validate">
				 
				</div>
			  </div>
			 
			  <div class="modal-footer d-flex justify-content-center">
			  
			  <input type="submit" class="register-user  btn btn-success" value="Save">

			  </div>
			   </form>
                  </div>
             
          </div>
        </div>
    </div>




<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">+ Driver</a>
</div>
	
	
   <table border="1" class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
		<th> S.No</th>  
		<th> First Name</th>  
		<th> Last Name</th>  
		<th>Email</th>  
		<th>Phone Number</th> 
		<th>Street Address</th> 
		<th>City</th> 
		<th>State</th> 
		<th>Zipcode</th> 		
		<th>Action</th> 		
    </tr>  
    </thead>  
    <tbody>


{% for show in driver %}  
    <tr>  
        <td id="id_{{ show.id }}"> {{ forloop.counter }}</td>  
        <td id="firstname_{{ show.id }}">{{ show.first_name }}</td>  
        <td id="lastname_{{ show.id }}">{{ show.last_name }}</td>  
        <td id="email_{{ show.id }}">{{ show.email }}</td>  
		<td id="phonenumber_{{ show.id }}">{{ show.phonenumber }}</td> 
		<td id="streeaddress_{{ show.id }}">{{ show.stree_address }}</td>
		<td id="city_{{ show.id }}">{{ show.city }}</td>
		<td id="state_{{ show.id }}">{{ show.state }}</td>
		<td id="zipcode_{{ show.id }}">{{ show.zipcode }}</td>
        <td>  

       <button type="button" class="primary-btn page-sec-edt-btn editdriver" id='edit_{{ show.id }}'  data-toggle="modal" data-target="#edit_Modal"><i class="fa fa-edit"></i></button>
        <a href="/dashboard/delete_driver/{{ show.id }}" class="deletebutton">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table> 
</div>
</section>
<!-- /.content -->




{% endblock %}
{% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });
  
  $(document).ready(function(){
  $(".deletebutton").click(function(){
    if (!confirm("Do you want to delete")){
      return false;
    }
  });
  

     $('.editdriver').click(function(){
		var el = this;
		var id = this.id;
		var splitid = id.split("_");
		var editid = splitid[1];
		$("#editfirstname").val($.trim($("#firstname_"+editid).text()));
		$("#editlastname").val($.trim($("#lastname_"+editid).text()));
		$("#editemail").val($.trim($("#email_"+editid).text()));
		$("#editphonenumber").val($.trim($("#phonenumber_"+editid).text()));
		$("#editstreetaddress").val($.trim($("#streeaddress_"+editid).text()));
		$("#editcity").val($.trim($("#city_"+editid).text()));
		$("#editstate").val($.trim($("#state_"+editid).text()));
		$("#editzipcode").val($.trim($("#zipcode_"+editid).text()));
		
        $("#editid").val(editid);
		
		
    
    });
	
	
	
	 $( "#driveredit" ).validate({
          rules: {
            firstname: {
              required: true,
             
            },
			lastname: {
              required: true,
             
            },
			email: {
              required: true,
             
            },
			phonenumber: {
              required: true,
             
            },
			streeaddress: {
              required: true,
             
            },
			city: {
              required: true,
             
            },
			state: {
              required: true,
             
            },
			zipcode: {
              required: true,
             
            }
			
          }
        });
		
		$( "#driveradd" ).validate({
         
             rules: {
            firstname: {
              required: true,
             
            },
			lastname: {
              required: true,
             
            },
			email: {
              required: true,
			  email:true,
             
            },
			phonenumber: {
              required: true,
             
            },
			streeaddress: {
              required: true,
             
            },
			city: {
              required: true,
             
            },
			state: {
              required: true,
             
            },
			zipcode: {
              required: true,
             
            }
          }
        });
        
   
});

$(document).ready(function(){
    $("#firstname").keypress(function(event){
        var inputValue = event.charCode;
        if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)){
            event.preventDefault();
        }
    });
	
	 $("#lastname").keypress(function(event){
        var inputValue = event.charCode;
        if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)){
            event.preventDefault();
        }
    });
	$("#editfirstname").keypress(function(event){
        var inputValue = event.charCode;
        if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)){
            event.preventDefault();
        }
    });
	
	$("#editlastname").keypress(function(event){
        var inputValue = event.charCode;
        if(!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)){
            event.preventDefault();
        }
    });
});


</script>




{% endblock %}