{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Add Game
User {% endblock %} {% block head %} {% endblock %} {% block content %}

<section class="content container-fluid">
  <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="manage_admin">
    <div class="add_min d-flex justify-content-between mb-3">
      <h3>Driver List</h3>
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalRegisterForm"
        >+ New Driver</a
      >
    </div>

    <div
      class="modal fade"
      id="modalRegisterForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-card">
          <div class="">
            <button
              type="button"
              class="close cus-modal-crose"
              data-dismiss="modal"
            >
              &times;
            </button>
            <h4 class="text-center">Add Driver</h4>
          </div>
            <form enctype="multipart/form-data"
              action="{% url 'dashboard:add_driver' %}"
              method="post"
              id="driveradd"
            >
              {% csrf_token %} {% csrf_token %}
              <div class="modal-body form-row">
                <div class="col-md-12">
                  <div class="radius-image-50 mb-3">
                  <img src="/static/main/images/car.jpg" class="w-100"/>
                  <div class="btn btn-dark"><i class="fa fa-pencil"></i></div>
                  <input type="file" id="file" name="file" class="form-control validate"/>
                  </div>
                </div>
                <div class="md-form col-md-6">
                  <!-- <label data-error="wrong" data-success="right" for="firstname"
                    >First Name</label
                  > -->
                  <input
                    type="text"
                    id="firstname"
                    name="firstname"
                    placeholder="First Name"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-6">
                  <!-- <label data-error="wrong" data-success="right" for="lastname"
                    >Last Name</label
                  > -->
                  <input
                    type="text"
                    id="lastname"
                    name="lastname"
                    placeholder="Last Name"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-6">
                  <!-- <label data-error="wrong" data-success="right" for="email"
                    >Email</label
                  > -->
                  <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="Email"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-6">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="phonenumber"
                    >Phone Number</label
                  > -->
                  <input
                    type="text"
                    id="phonenumber"
                    name="phonenumber"
                    maxlength="10"
                    placeholder="Phone Number"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="streetaddress"
                    >Street Address</label
                  > -->
                  <input
                    type="text"
                    id="streetaddress"
                    name="streetaddress"
                    placeholder="Street Address"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-4">
                  <!-- <label data-error="wrong" data-success="right" for="city"
                    >City</label
                  > -->
                  <input
                    type="text"
                    id="city"
                    placeholder="City"
                    name="city"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-4">
                  <!-- <label data-error="wrong" data-success="right" for="state"
                    >State</label
                  > -->
                  <input
                    type="text"
                    id="state"
                    name="state"
                    placeholder="State"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-4">
                  <!-- <label data-error="wrong" data-success="right" for="zipcode"
                    >Zipcode</label
                  > -->
                  <input
                    type="text"
                    id="zipcode"
                    name="zipcode"
                    placeholder="Zipcode"
                    maxlength="6"
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Save Driver"
                  />
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">
                Edit Driver
              </h4>
            </div>
            <form enctype="multipart/form-data"
              action="/dashboard/edit_driver/"
              method="post"
              id="driveredit"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="col-md-12">
                  <div class="radius-image-50 mb-3">
                  <img src="/static/main/images/car.jpg" class="w-100"/>
                  <div class="btn btn-dark"><i class="fa fa-pencil"></i></div>
                  <input type="file" id="file" name="file" class="form-control validate"/>
                  </div>
                </div>
                <div class="md-form mb-5 col-md-6">
                  <input
                    type="text"
                    id="editfirstname"
                    name="firstname"
                    placeholder="First Name"
                    class="form-control validate"
                  />
                  <input
                    type="hidden"
                    id="editid"
                    name="editid"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-6">
                  <input
                    type="text"
                    id="editlastname"
                    name="lastname"
                    placeholder="Last Name"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-12">
                  <input
                    type="text"
                    id="editemail"
                    name="email"
                    placeholder="Email"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-12">
                  <input
                    type="text"
                    id="editphonenumber"
                    name="phonenumber"
                    placeholder="Phone Number"
                    maxlength="10"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-12">
                  <input
                    type="text"
                    id="editstreetaddress"
                    name="streetaddress"
                    placeholder="Street Address"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-4">
                  <input
                    type="text"
                    id="editcity"
                    name="city"
                    placeholder="City"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-4">
                  <input
                    type="text"
                    id="editstate"
                    name="state"
                    placeholder="State"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-4">
                  <input
                    type="text"
                    id="editzipcode"
                    name="zipcode"
                    placeholder="Zipcode"
                    maxlength="6"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form mb-5 col-md-12">
                  <input
                    type="submit"
                    class="btn btn-danger w-100 text-center"
                    value="Edit Driver"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


<!-- delete modal start-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center delete-modal">
		<div class="modal-body h4">
		 Are you sure you want to delete this Driver?
		</div>
		<div class="pb-3">
		 <input type="hidden" id="setdriverid" name="setdriverid" >
		  <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>

			 <a href="" id="deletedriver1" class="btn btn-dark btn-rounded">Yes, Delete</a>  
		</div>
	  </div>
	</div>
  </div>
<!-- delete modal end -->



    <div class="table-responsivemk">
    <table id="table" border="1" class="table table-striped table-bordered table-sm w-100 driver-table">
      <thead class="thead-dark">
        <tr>
          <th style="display:none">S.No</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Street Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
		  <th>Driver Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for show in driver %}
        <tr>
          <td id="id_{{ show.id }}" style="display:none">{{ forloop.counter }}</td>
          <td id="firstname_{{ show.id }}">{{ show.first_name }}</td>
          <td id="lastname_{{ show.id }}">{{ show.last_name }}</td>
          <td id="email_{{ show.id }}">{{ show.email }}</td>
          <td id="phonenumber_{{ show.id }}">{{ show.phonenumber }}</td>
          <td id="streeaddress_{{ show.id }}">{{ show.stree_address }}</td>
          <td id="city_{{ show.id }}">{{ show.city }}</td>
          <td id="state_{{ show.id }}">{{ show.state }}</td>
          <td id="zipcode_{{ show.id }}">{{ show.zipcode }}</td>
		  <td id="driverimage_{{ show.id }}"><img src="{{url}}media/driver/{{ show.image }}" class="thumbnailimage-50"></td>

          <td>
            <button
              type="button"
              class="btn btn-primary editdriver"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
            <!-- <a
              href="/dashboard/delete_driver/{{ show.id }}"
              class="deletebutton btn btn-danger"
              ><i class="fa fa-trash"></i
            ></a> -->
            <button type="button" class="btn btn-danger deletedriver"  id='delete_{{ show.id }}'  data-toggle="modal" data-target="#deletemodal"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock %} {% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function() {
    $('.deletebutton').click(function() {
      if (!confirm('Do you want to delete')) {
        return false;
      }
    });


		$('.deletedriver').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
		
	  $("#setdriverid").val(editid);
	  
	  $("#deletedriver1").attr('href','/dashboard/delete_driver/'+editid);
	  });


    $('.editdriver').click(function() {
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
      $('#editfirstname').val($.trim($('#firstname_' + editid).text()));
      $('#editlastname').val($.trim($('#lastname_' + editid).text()));
      $('#editemail').val($.trim($('#email_' + editid).text()));
      $('#editphonenumber').val($.trim($('#phonenumber_' + editid).text()));
      $('#editstreetaddress').val($.trim($('#streeaddress_' + editid).text()));
      $('#editcity').val($.trim($('#city_' + editid).text()));
      $('#editstate').val($.trim($('#state_' + editid).text()));
      $('#editzipcode').val($.trim($('#zipcode_' + editid).text()));

      $('#editid').val(editid);
    });

    $('#driveredit').validate({
      rules: {
        firstname: {
          required: true
        },
        lastname: {
          required: true
        },
        email: {
          required: true
        },
        phonenumber: {
          required: true
        },
        streetaddress: {
          required: true
        },
        city: {
          required: true
        },
        state: {
          required: true
        },
        zipcode: {
          required: true
        }
      }
    });

    $('#driveradd').validate({
      rules: {
        firstname: {
          required: true
        },
        lastname: {
          required: true
        },
        email: {
          required: true,
          email: true
        },
        phonenumber: {
          required: true
        },
        streetaddress: {
          required: true
        },
        city: {
          required: true
        },
        state: {
          required: true
        },
        zipcode: {
          required: true
        }
      }
    });
  });

  $(document).ready(function() {
  $('#table').DataTable();
    $('#firstname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 120) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#lastname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 120) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });
    $('#editfirstname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 120) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#editlastname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 120) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });
  });
</script>

{% endblock %}
