{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
</div> -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

	<div class="manage_admin">
		<div class="add_min d-flex justify-content-between">
			<h3>Add Game</h3>
		</div>
		<form action="{% url 'dashboard:edit-tournament' tournament_id %}" method="post" enctype="multipart/form-data" autocomplete="off">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label>*Select Game</label>
                    <select id="selected_game" class="form-control" name="selected_game">
                      {% for all_games in get_games %}
                      <option {% if edit_tournament.tournament_game.name_of_game == all_games.name_of_game %}selected="{{edit_tournament.tournament_game.name_of_game}}"{% endif %} value="{{all_games.id}}">{{all_games.name_of_game}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group" id="number-error">
                    <label>*Number of Matches </label>
                    <input type="number" class="form-control" id="number_of_matches" name="number_of_matches" placeholder="Number of Matches" min="0" value="{{edit_tournament.number_of_matches}}">
                  </div>

                  <div class="form-group" id="start-date-error">
                    <label>*Start Date</label>
                    <input type="text" class="form-control" id="start_date" name="start_date" placeholder="Start Date" onkeydown="return false" value="{{edit_tournament.tourn_start_date|date:'Y-m-d g:i:s A'}}">
                  </div>
                  <div class="form-group" id="city-error">
                    <label>*City </label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" maxlength="40" value="{{edit_tournament.city}}">
                  </div>
                  <div class="form-group" id="introduction-error">
                    <label>*Tournament Introduction </label>
                    <textarea rows="4" cols="50" class="form-control" id="introduction" name="introduction">{{edit_tournament.introduction}}</textarea>
                  </div>
                  <div class="form-group" id="entry-fee-error">
                    <label>*Entry Price Per Player </label>
                    <input type="number" class="form-control" id="entry_fee" name="entry_fee" placeholder="Entry Fee" min="0" value="{{edit_tournament.entry_fee}}">
                  </div>
                  <div class="form-group" id="team-size-error">
                    <label>*Team Size </label>
                    <input type="text" class="form-control" id="team_size" name="team_size" placeholder="Team Size" maxlength="60" value="{{edit_tournament.team_size}}">
                </div>
                <div class="form-group" id="players-in-match-error">
                    <label>*Players In Match </label>
                    <input type="text" class="form-control" id="players_in_match" name="players_in_match" placeholder="Players In Match" maxlength="60" value="{{edit_tournament.players_in_match}}">
                </div>
				</div>
				<div class="col-12 col-sm-6 col-md-6">
                    <div class="form-group" id="name-error">
                        <label>*Name of Tournament </label>
                        <input type="text" class="form-control" id="name_of_tnmt" name="name_of_tnmt" placeholder="Tournament Name" maxlength="60" value="{{edit_tournament.name_of_tournament}}">
                    </div>

                    <div class="form-group" id="prize-error">
                        <label>*Prize (in $) </label>
                        <input type="number" class="form-control" id="prize" name="prize" placeholder="Prize Amount" min="0" value="{{edit_tournament.tournament_prize}}">
                    </div>
                    <div class="form-group" id="end-date-error">
                        <label>*End date </label>
                        <input type="text" class="form-control" id="end_date" name="end_date" placeholder="End date" value="{{edit_tournament.tourn_end_date|date:'Y-m-d g:i:s A'}}">
                    </div>
                    <div class="form-group" id="image-error">
                        <label>*Tournament Image</label>
                        <input type="file"  class="form-control" id="tournament_image" name="tournament_image"accept="image/*">
                        Current image:- <a href="{{edit_tournament.tournament_image.url}}" target="_blank">{{edit_tournament.tournament_image.name|slice:'11:'|truncatechars:10}}</a>
                    </div>
                    <div class="form-group">
                        <label>*Cover Image</label>
                        <input type="file"  class="form-control" id="tournament_cover_image" name="tournament_cover_image"accept="image/*">
                        Current cover image:- <a href="{{edit_tournament.tourn_cover_image.url}}" target="_blank">{{edit_tournament.tourn_cover_image.name|slice:'11:'|truncatechars:10}}</a>
                    </div>
                    <div class="form-group" id="tournament_type_error">
                        <label>*Tournament Type </label>
                        <select id="tournament_type" class="form-control" name="tournament_type">
                            {% for all_tournament in get_tournament_type %}
                            <option {% if edit_tournament.type_of_tournament.type_name == all_tournament.type_name %} selected="{{edit_tournament.type_of_tournament.type_name}}"{% endif %} value="{{all_tournament.id}}">{{all_tournament.type_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="tournament-size-error">
                        <label>*Tournament Size </label>
                        <input type="number" class="form-control" id="tournament_size" name="tournament_size" placeholder="Tournament Size" min="0" value="{{edit_tournament.tournament_size}}">
                    </div>
                    <div class="form-group" id="games-per-round-error">
                        <label>*Games Round </label>
                        <input type="number" class="form-control" id="games_per_round" name="games_per_round" placeholder="Tournament Size" min="0" value="{{edit_tournament.games_per_round}}">
                    </div>
                    </div>
			</div>
      	<button type="submit"  class="add-tournament  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Update</button>
      	<button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </form>
  </div>

  {% endblock %}

  {% block js %}
	<!-- <script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script> -->
	<script type="text/javascript">
  $(document).ready(function(){
    $('#start_date').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss A',
    });
    $('#end_date').datetimepicker({
      format: 'YYYY-MM-DD hh:mm:ss A',
    });
  })
 // function validationCheck(){
 	$('.add-tournament').on("click", function() {
    var name_of_tournament = $("#name_of_tnmt").val();
    var tournament_image = $("#tournament_image").val();
    var number_of_match = $("#number_of_matches").val();
    var prize = $("#prize").val();
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    var tournament_city = $("#city").val();
    var introduction = $("#introduction").val();
    var entry_fee = $("#entry_fee").val();
    var team_size = $("#team_size").val();
    var players_in_match = $("#players_in_match").val();
    var tournament_type = $("#tournament_type").val();
    var tournament_size = $("#tournament_size").val();
    var games_per_round = $("#games_per_round").val();
    var split_start_date = start_date.substr(0,start_date.indexOf(' '));
    var split_end_date = end_date.substr(0,end_date.indexOf(' '));
    var start_date_obj = new Date(split_start_date);
    var end_date_obj = new Date(split_end_date);

    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);

    if(name_of_tournament=='' || name_of_tournament==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Tournament name can't be empty.";
      document.getElementById('name-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(number_of_match=='' || number_of_match==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Number of matches can't be empty.";
      document.getElementById('number-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(prize=='' || prize==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Prize can't be empty.";
      document.getElementById('prize-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(start_date=='' || start_date==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Start date can't be empty.";
      document.getElementById('start-date-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(end_date=='' || end_date==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="End date can't be empty.";
      document.getElementById('end-date-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(tournament_city=='' || tournament_city==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="City can't be empty.";
      document.getElementById('city-error').appendChild(x);
      validationError=true;
      return false;
    }

    if(introduction=='' || introduction==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Introduction can't be empty.";
      document.getElementById('introduction-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(end_date_obj < start_date_obj){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="End Date is less than Start date.";
      document.getElementById('end-date-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(entry_fee=='' || entry_fee==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Entry Fee can't be empty.";
      document.getElementById('entry-fee-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(team_size=='' || team_size==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Team Size can't be empty.";
      document.getElementById('team-size-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(tournament_size=='' || tournament_size==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Tournament Size can't be empty.";
      document.getElementById('tournament-size-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(games_per_round=='' || games_per_round==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Games Round can't be empty.";
      document.getElementById('games-per-round-error').appendChild(x);
      validationError=true;
      return false;
    }
     if(tournament_type=='' || tournament_type==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Team Home can't be empty.";
      document.getElementById('tournament_type_error').appendChild(x);
      validationError=true;
      return false;
    }
    if(players_in_match=='' || players_in_match==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Players In Match can't be empty.";
      document.getElementById('players-in-match-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });
  </script>
  <script>
    $('.delete').on('click', function() {
      window.history.back();
    });
  </script>

  {% endblock %}