{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Staff User List {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="manage_admin">
      <div class="add_min d-flex justify-content-between"> 
        <h3>Edit Role</h3>
      </div>
    <form action="{% url 'dashboard:edit_role' group.id %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="form-group" id="edit_role_error">
            <label>*Role</label>
            <input type="text" value="{{group.name}}" class="form-control" name="role" id="edit_role">
          </div>
          <button type="submit" class="edit register  btn btn-success" id="edit_role_btn"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button>

          <a href="/dashboard/role_list"><button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel </button></a>
        </form>
      </div>


  {% endblock %}
  {% block js %}
  <script>
    $('#edit_role_btn').on("click", function(evnt) {
    // evnt.preventDefault();
    var role = $("#edit_role").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
      paras[0].parentNode.removeChild(paras[0]);
    if(role=='' || role==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Role can't be empty !";
      document.getElementById('edit_role_error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });
    // $('.delete').on('click', function() {
    //   window.history.back();
    // });
  </script>
  {% endblock %}
