{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Staff User List {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  <section class="content container-fluid">
    <div class="manage_admin">
     <div class="add_min d-flex justify-content-between"> 
      <h3>Edit User</h3>
    </div>
    <form action="{% url 'dashboard:edit_game_users' user.user.id %}" method="post" autocomplete="off">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="form-group" id="register-fname-error">
            <label>*First Name</label>

            <input type="text" class="form-control" value="{{user.user.first_name}}" name="name" id="first_name" maxlength="25" pattern="[a-zA-Z]*" title="Only Alphabets allowed">
          </div>
          <div class="form-group">
          <label>Status</label>
          <select class="form-control" name="status">
            <option value="A" {% if user.user.is_active == True %} selected {% endif %}>Active</option>
            <option value="I" {% if user.user.is_active == False %} selected {% endif %}>Inactive</option>
          </select>
        </div>
          <div class="form-group" id="register-password-error">
            <label>Password</label><span class="not-verify"></span>
            <input type="password" id="password" minlength="8" class="form-control"name="password" maxlength="25">
          </div>
          <div class="form-group" id="register-dob-error">
            <label>*Date of Birth</label><span class="not-verify"></span>
            <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" onkeydown="return false" value="{{user.date_of_birth|date:'Y-m-d' }}">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-6">
         
        <div class="form-group" id="register-lname-error">
          <label>*Last Name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Last Name" maxlength="25" id="last_name" pattern="[a-zA-Z]*" title="Only Alphabets allowed" value="{{user.user.last_name}}">
        </div>
        <div class="form-group" id="register-email-error">
          <label>*Email</label>
          <input type="email" class="form-control" value="{{user.user.email}}" placeholder="Email"  id="email" name="email" maxlength="45">
        </div>
        <div class="form-group" id="register-confirm-error">
          <label>Retype Password</label>
          <input type="password" minlength="8" class="form-control" id="confirm_password" name="confirm_password" maxlength="25">
        </div>
      </div>

    </div>

    <button type="submit" class="edit-user  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save </button> 
    <button class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
  </form>
</div>
</section>
<!-- /.content -->

{% endblock %}

{% block js %}

<script type="text/javascript"> 
  $(document).ready(function(){
    $('#date_of_birth').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      endDate: '+0d',
      calendarWeeks: true,
      autoclose: true,
      format: "yyyy-mm-dd"
    });
  })

  $('.edit-user').on("click", function() {
    var password = $("#password").val();
    var confirm_password = $("#confirm_password").val();
    var email = $("#email").val();
    var fname = $("#first_name").val();
    var lname = $("#last_name").val();
    // var dob = $("#date_of_birth").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);
    if(fname==''){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="First name can't be empty.";
      document.getElementById('register-fname-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(lname==''){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Last name can't be empty.";
      document.getElementById('register-lname-error').appendChild(x);
      validationError=true;
      return false;
    }

    if(email==''){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Email can't be empty.";
      document.getElementById('register-email-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(ValidateEmail(email)==false){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Not a valid Email.";
      document.getElementById('register-email-error').appendChild(x);
      validationError=true;
      return false;
    }
    
    if(password!="" && password.length < 8){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password must be of minimum 8 characters.";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(password!=confirm_password) {
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password Doesn't match";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    // if(dob==''){
    //   var x = document.createElement("LABEL");
    //   x.style.color = 'red';
    //   x.className='errors';
    //   x.innerHTML="DOB can't be empty.";
    //   document.getElementById('register-dob-error').appendChild(x);
    //   validationError=true;
    //   return false;
    // }
    return true;
});

  function ValidateEmail(x) {
      var atpos = x.indexOf("@");
      var dotpos = x.lastIndexOf(".");
      if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        return false;
      }
      return true;
  }
</script>

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });
</script>
{% endblock %}