{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Staff User List {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<section class="content container-fluid">
  <div class="manage_admin">
   <div class="add_min d-flex justify-content-between"> 
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <h3>Edit Staff</h3>
  </div>
  <form action="{% url 'dashboard:edit_staff' user.id %}" method="post" id="registration_form">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">

        <div class="form-group">
          <label>*Role</label>
          <select class="form-control" name="role">
            <option value="super_admin">Super Admin</option>
            {% for group in groups %}
            <option value="{{ group.id }}" {% if group.id == current_id %} selected {% endif %} >{{ group.name|title }}</option>

            {% endfor %}
          </select>
        </div>
        <div class="form-group" id="register-fname-error">
          <label>*Name</label>
          <input type="text" class="form-control" value="{{user.first_name}}"  name="name"  placeholder="Admin" id="name" title="Only Alphabets allowed" maxlength="25" pattern="[a-zA-Z]*">
        </div>
        <div class="form-group" id="register-password-error">
          <label>Password</label><span class="not-verify"></span>
          <input type="password" class="form-control" minlength="8", maxlength="25" id="password" name="password">
        </div>
        <div class="form-group" id="register-email-error">
          <label>*Email</label>
          <input type="email" class="form-control"  value="{{user.email}}" name="email" id="email" maxlength="45">
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6">
       <div class="form-group">

        <label>Status</label>
        <select class="form-control" name="status">
          <option value="A" {% if user.is_active == True %} selected {% endif %}>Active</option>
          <option value="I" {% if user.is_active == False %} selected {% endif %}>Inactive</option>
        </select>
      </div>
      <div class="form-group" id="register-lname-error">
        <label>*Last Name</label>
        <input type="text"  class="form-control" id="last_name" name="last_name" placeholder="Admin" required value="{{user.last_name}}" title="Only Alphabets allowed" maxlength="25" pattern="[a-zA-Z]*">
      </div>

      <div class="form-group" id="register-confirm-error">
        <label>Retype Password</label>
        <input type="password" class="form-control" id="confirm_password" name="repassword" minlength="8", maxlength="25">
      </div>
    </div>
  </div>
  <div class="access">
    <h3>Access</h3>
    <div class="access_list">
      <ul>
        {% for model in model_list %}
        <li>
          <label class="payment_gateway_checkbox"><input type="checkbox" name="models[]" value="{{ model.id }}" {% if model.slug in selected_permissions %} checked  {% endif %}> 
            <span class="checkmark"></span>{{model.name|title}}
          </li>
          {% endfor %}
        </ul> 
      </div>
    </div>
    <button type="submit" class="edit-user  btn btn-success"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Save</button> 
    <button class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
  </form>
</section>

{% endblock %}

{% block js %}
<script type="text/javascript"> 

  $('.edit-user').on("click", function(evnt) {
    var password = $("#password").val();
    var confirm_password = $("#confirm_password").val();
    var email = $("#email").val();
    var fname = $("#name").val();
    var lname = $("#last_name").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
      paras[0].parentNode.removeChild(paras[0]);
    if(fname=='' || fname==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="First name can't be empty.";
      document.getElementById('register-fname-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(lname=='' || lname==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Last name can't be empty.";
      document.getElementById('register-lname-error').appendChild(x);
      validationError=true;
      return false;
    }

    if(password!="" && password.length < 8){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password must be of minimum 8 characters.";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(password!=confirm_password) {
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Password Doesn't match";
      document.getElementById('register-password-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(email=='' || email==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Email can't be empty.";
      document.getElementById('register-email-error').appendChild(x);
      validationError=true;
      return false;
    }
    if(ValidateEmail(email)==false){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Not a valid email.";
      document.getElementById('register-email-error').appendChild(x);
      validationError=true;
      return false;
    }

    return true;
  });

  function ValidateEmail(x) {
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
      return false;
    }
    return true;
  }
</script>

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });
</script>

{% endblock %}