{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Game {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<!-- <div class="alert alert-danger text-center" role="alert" style="display: none;">
</div> -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<section class="content container-fluid">
	<div class="manage_admin">
		<div class="add_min d-flex justify-content-between">
			<h3>Edit Game</h3>
		</div>
		<form action="{% url 'dashboard:edit_game' game_id %}" method="post" id="register_admin" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6">
					<div class="form-group" id="name-error">
						<label>*Name of Game </label>
						<input type="text" value="{{edit_game.name_of_game}}" class="form-control" id="name_of_game" name="name_of_game" placeholder="Admin"   maxlength="60">
					</div>
					<div class="form-group" id="start-date-error">
						<label>*Start Date </label>
						<input type="text"  value="{{edit_game.game_start_date|date:'Y-m-d g:i:s A'}}" class="form-control" id="start_date" name="start_date" placeholder="Start Date" onkeydown="return false">
					</div>
					<div class="form-group" id="prize-error">
						<label>*Prize (in $) </label>
						<input type="number" value="{{edit_game.game_prize}}"  class="form-control" id="prize" name="prize" placeholder="Prize Amount" min="0">
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-6">
					<div class="form-group" id="image-error">
						<label>*Game Image</label>
            {% if edit_game.game_banner %}
						<p>Current image:  <a href="{{edit_game.game_banner.url }}" target="_blank">{{edit_game.game_banner.name|slice:"5:"}}</a></p>
            {% endif %}
						<input type="file"  class="form-control" id="game_image" name="game_image" accept="image/*">
					</div>
					<div class="form-group" id="city-error">
						<label>*City </label>
						<input type="text" value="{{edit_game.game_city}}"  class="form-control" id="city" name="city" placeholder="City" maxlength="40">
					</div>
          <div class="form-group" id="cover-image-error">
            <label>*Cover Image</label>
            {% if edit_game.game_cover_image %}
            <p>Current cover image:  <a href="{{edit_game.game_cover_image.url }}" target="_blank">{{edit_game.game_cover_image.name|slice:"11:"|truncatechars:10 }} </a></p>
            {% endif %}
            <input type="file"  class="form-control" id="cover_image" name="cover_image"accept="image/*">
          </div>
				</div>
			</div>
      	<button type="submit"  class="edit-game btn btn-success"><span><i class="fa fa-check" aria-hidden="true"></i></span> Update</button>
      	<button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel</button>
      </form>
  </div>
</section>
  {% endblock %}

  {% block js %}
<!--	<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>-->
	<script type="text/javascript">
	$(document).ready(function(){
		$('#start_date').datetimepicker({
		  format: 'YYYY-MM-DD hh:mm:ss A',
		});
    });

 // function validationCheck(){
 	$('.edit-game').on("click", function() {
    var name_of_game = $("#name_of_game").val();
    var game_image = $("#game_image").val();
    var start_date = $("#start_date").val();
    var split_start_date = start_date.substr(0,start_date.indexOf(' '));
    var start_date_obj = new Date(split_start_date);
    var tournament_city = $("#city").val();
    var prize = $("#prize").val();
    var game_image_type = $('#game_image').val().split('.').pop().toLowerCase();
    var cover_image_type = $('#game_image').val().split('.').pop().toLowerCase();

    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
        paras[0].parentNode.removeChild(paras[0]);

    if(name_of_game=='' || name_of_game==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Game name can't be empty.";
      document.getElementById('name-error').appendChild(x);
      validationError=true;
      return false;
    }
	if(start_date=='' || start_date==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Start date can't be empty.";
      document.getElementById('start-date-error').appendChild(x);
      validationError=true;
      return false;
    }
    	if(tournament_city=='' || tournament_city==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="City can't be empty.";
      document.getElementById('city-error').appendChild(x);
      validationError=true;
      return false;
    }
	if(prize=='' || prize==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Prize can't be empty.";
      document.getElementById('prize-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });
  </script>
  <script>
    $('.delete').on('click', function() {
      window.history.back();
    });
  </script>

  {% endblock %}