{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Edit Rule {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="manage_admin">
      <div class="add_min d-flex justify-content-between"> 
        <h3>Edit Tournament Rules</h3>
      </div>
    <form action="{% url 'dashboard:edit-rule' rule_id %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="form-group" id="add-tournament-error">
          <label>*Edit Rule</label>
          <select disabled class="form-control" id="tournament_for_rule" name="tournament_for_rule">
            {% for tour in edit_rule_obj %}
            <option value="{{tour.id}}" {% if tour.id == rule_obj.tournament_for_rule.id %}selected  {% endif %}> {{tour.name_of_tournament}} </option>
            {% endfor %}   
          </select>
        </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6">
          <div class="form-group" id="edit_rule_error">
            <label>*Edit Rule</label>
            <textarea rows="10" cols="100"
            value="{{rule_obj.general_rules}}" class="form-control" name="general_rules" id="general_rules">{{rule_obj.general_rules}}</textarea>
          </div>
          <button type="submit" class="edit register  btn btn-success" id="edit_type_btn"><sapn><i class="fa fa-check" aria-hidden="true"></i></sapn> Update</button>

          <a href="/dashboard/rule-list"><button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span> Cancel </button></a>
        </div>
      </div>
    </form>


  {% endblock %}
  {% block js %}
  <script>
    $('#edit_type_btn').on("click", function(evnt) {
    // evnt.preventDefault();
    var general_rules = $("#general_rules").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
      paras[0].parentNode.removeChild(paras[0]);
    if(general_rules=='' || general_rules==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Rule can't be empty !";
      document.getElementById('edit_rule_error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });
    // $('.delete').on('click', function() {
    //   window.history.back();
    // });
  </script>
  {% endblock %}
