{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Edit Product {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="manage_admin">
  <div class="add_min d-flex justify-content-between">
    <h3>Edit Products</h3>
  </div>
  <form action="{% url 'dashboard:edit-product' product_id %}" method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">    
        <div class="form-group" id="credits-error">
          <label>*Credits </label>
          <input type="number" class="form-control" id="credits" name="credits" placeholder="Credits" min="0" value="{{edit_product.credits}}">
        </div>
        <div class="form-group" id="rate-error">
          <label>*Rate_of_item </label>
          <input type="number" class="form-control" id="rate_of_item" name="rate_of_item" placeholder="Rate_of_item"  min="0" value="{{edit_product.rate_of_item}}">
        </div>  
      </div>
      
      <div class="col-12 col-sm-6 col-md-6">
        <div class="form-group" id="product-error">
          <label>*Product_image</label>
          <input type="file" class="form-control" id="product_image" name="product_image" accept="image/*"
          >
          Current image:- <a href="{{edit_product.product_image.url}}" target="_blank">{{edit_product.product_image.name|slice:'9:'|truncatechars:15}}</a>
        </div> 
      </div>
    </div>
    <button type="submit" class="add-product btn btn-success"><span><i class="fa fa-check" aria-hidden="true"></i></span> Save</button>
    <button type="button" class="delete btn btn-orange"><span><i class="fa fa-ban" aria-hidden="true"></i></span>Cancel</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

  $('.add-product').on("click", function() {
    var credits = $("#credits").val();
    var rate_of_item = $("#rate_of_item").val();
    var validationError=false;
    var paras = document.getElementsByClassName('errors');
    while(paras[0])
      paras[0].parentNode.removeChild(paras[0]);
    if(credits=='' || credits==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Credit can't be empty !";
      document.getElementById('credits-error').appendChild(x);
      validationError=true;
      return false;
    }
    else if(rate_of_item=='' || rate_of_item==null){
      var x = document.createElement("LABEL");
      x.style.color = 'red';
      x.className='errors';
      x.innerHTML="Rate of item name can't be empty.";
      document.getElementById('rate-error').appendChild(x);
      validationError=true;
      return false;
    }
    return true;
  });
</script>
<script>
  $('.delete').on('click', function() {
    window.history.back();
  });
</script>
{% endblock %}