{% load static %}
<html lang="en">
<head>
  <title>COLOSSEUM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- style css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'main/css/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/hover.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  
</head>
<body>
  {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="login-section height-100 bg-primary1">
        <div class="container max-400">
          <div class="text-center">
            <img src="/static/main/images/logo2.png" class="form-logo mb-3">
            <h2 class="login-headline mb-3">
              FORGET PASSWORD
            </h2>
          </div>
          <form action="{% url 'dashboard:forget-password' %}" method="post" onsubmit="return validationCheck()">
            {% csrf_token %}
            <fieldset class="formRow">
              <div class="formRow--item">
                <label for="email" class="formRow--input-wrapper js-inputWrapper w-100">
                  <input type="email" name="forget_email" class="formRow--input js-input form-control" id="forget_email" placeholder="Email" maxlength="45">
                </label>
                <div class="error" style="display: none;" id="null_email"><span></span>Email can't be empty.
               </div>
               <div class="error" style="display: none;" id="email_error"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Enter a valid Email Address.</div>
                <!-- <div class="count-icon text-right">
                  0
                </div> -->
              </div>
            </fieldset>
            <button type="submit"  class="btn btn-danger w-100 mt-3">SUBMIT</button>
          </form>
        </div>
  </div>
<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>    
<script src="{% static 'main/js/popper.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>    
<script src="{% static 'main/js/slick.min.js' %}"></script>
<script src="{% static 'main/js/slick.js' %}"></script>
<script src="{% static 'main/js/a076d05399.js' %}"></script>
<script type="text/javascript">
  function ValidateEmail(x) {
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
      return false;
    }
    return true;
  }
  
  function validationCheck(){
    var email = $("#forget_email").val();
    if(email=='' || email==null || typeof email==='undefined'){
      $("#null_email").css("display","block");
      $("#email_error").css("display","none");
      return false;
    }
    if(ValidateEmail(email)==false){
      $("#email_error").css("display","block");
      $("#null_email").css("display","none");
      return false;
    }

    return true;
  }

  $(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert").slideUp(500);
  });
</script>
</body>
</html>