{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} All Games {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

    <section class="content container-fluid">
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between">
    <h3>All Games </h3>
    <a href="{% url 'dashboard:add-game' %}"><button class="btn btn-success" id="add-user">Add New Game</button></a>
    </div>
    {% if all_games %}
    <!-- <table class="table"> -->
      <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
      <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Game Name</th>
            <th scope="col">Images</th>
            <th scope="col">View Image</th>
            <th scope="col">City</th>
            <th scope="col">Start Date</th>
            <th scope="col">Prize</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for games in all_games %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ games.name_of_game }}</td>
            <td>{{ games.game_banner.name|slice:"5:"|truncatechars:10 }}</td>
            <td> {% if games.game_banner %}<a href="{{ games.game_banner.url }}" target="_blank"> <button type="submit" class="edit  btn btn-success" ><span><i class="fa fa-eye" aria-hidden="true"></i></span> View</button> </a>{% endif %}</td>
            <td>{{ games.game_city}}</td>
            <td>{{ games.game_start_date}}</td>
            <td>{{ games.game_prize}}</td>
            <td>
                <a href="{% url 'dashboard:edit_game' games.id %}"> <button type="button" class="edit  btn btn-primary" data-id="{{ games.id }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>
                <a href="{% url 'dashboard:delete_game' games.id %}"><button type="button" class="delete btn btn-danger" data-id="{{ games.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button>
                  </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <span>No records found</span>
    {% endif %}
      </div>
    </section>


  {% endblock %}

