{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login | Rove DASHBOARD</title>
    <style type="text/css">
      / ANIMATIONS / / Simple CSS3 Fade-in-down Animation / .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }

      @-webkit-keyframes fadeInDown {
        0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
        100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }

      @keyframes fadeInDown {
        0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
        100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }

      / Simple CSS3 Fade-in Animation / @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @-moz-keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .fadeIn {
        opacity: 0;
        -webkit-animation: fadeIn ease-in 1;
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;

        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
      }

      .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }

      .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }

      .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
      }

      .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
      }
    </style>
    <!-- Toastr -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"
      type="text/css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />

    <link href="../../static/main/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper fadeInDown bg-primary1 height-100">
      <div class="container max-400">
        <h2 class="mb-3 text-center">
          <img src="{% static '/main/images/logo2.png' %}" class="form-logo" />
        </h2>
 {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
        <!-- Login Form -->
        <form method="post" action="" class="form-card1" id="loginform">
          {% csrf_token %}
          <input
            type="text"
            id="login"
            class="fadeIn second form-control mb-3"
            name="username" value="{{username}}"
            placeholder="User Name"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third form-control mb-3"
            name="password" value="{{password}}"
            placeholder="Password"
          />
          <div class="fadeIn third d-flex justify-content-between mb-3">
            <div class="d-flex justify-content-between text-light">
              <input type="checkbox" value = '1' name="remember_me" class="mkcheckbox mr-3" />Remember Me
            </div>
           <a href="/dashboard/forget_password" class="text-danger">Forgot Password?</a>
          </div>
          <input
            type="submit"
            class="fadeIn fourth btn btn-danger w-100 text-center"
            value="Log In"
          />
        </form>
      </div>
    </div>
    <!-- Toastr -->
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
    ></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript">


	  
	    $(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert").slideUp(500);
  });

$('#loginform').validate({
      rules: {
        username: {
          required: true
        },
        password: {
          required: true
        }
      }
    });
    </script>
  </body>
</html>
