{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add User {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  <section class="content container-fluid">
   <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
	
	
	
	
	
	<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="form-card">
		  <div class="">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			<h4 class="text-center">
                <div class="user-icon-box">
                  <i class="fa fa-user"></i>
                  <button
                    class="btn"
                    id="edit_{{ show.id }}"
                    data-toggle="modal"
                    data-target="#edit_Modal"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </div>
              </h4>
		  </div>
		  <form action="/dashboard/add_user/" method="post" id="usereadd">
					{% csrf_token %}
		  <div class="modal-body form-row">
			 <div class="md-form col-md-6">

			  <!-- <label data-error="wrong" data-success="right" for="firstname">First Name</label> -->
			  <input type="text" id="firstname" name ="firstname" placeholder="First Name" class="form-control validate">

			</div>

			<div class="md-form col-md-6">

			  <!-- <label data-error="wrong" data-success="right" for="lastname">Last Name</label> -->
			  <input type="text" id="lastname" name ="lastname" placeholder="Last Name" class="form-control validate">

			</div>
			<div class="md-form col-md-12">

			  <!-- <label data-error="wrong" data-success="right" for="password">Password</label> -->
			  <input type="password" id="password" name ="password" placeholder="Password" class="form-control validate">

			</div>
			<div class="md-form col-md-12">

			  <!-- <label data-error="wrong" data-success="right" for="username">User Name</label> -->
			  <input type="text" id="username" name ="username" placeholder="User Name" class="form-control validate">

			</div>
			<div class="md-form col-md-12">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">Email</label> -->
			  <input type="text" id="email" name="email" placeholder="Email" class="form-control validate">

			</div>
			<div class="md-form col-md-12">
				<!-- <label data-error="wrong" data-success="right"  for="phonenumber">
				   Phone Number</label> -->
				<input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number" class="form-control validate">
  
			  </div>
			<div class="md-form col-md-12">
				<!-- <label data-error="wrong" data-success="right"  for="amount">Address</label> -->
			   <input type="text" id="address" name="address" placeholder="Address" class="form-control validate">
 
			   </div>
			  <div class="md-form col-md-4">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">City</label> -->
			  <input type="text" id="city" name="city" placeholder="City" class="form-control validate">

			  </div>
			  <div class="md-form col-md-4">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">State</label> -->
			  <input type="text" id="state" name="state" placeholder="State" class="form-control validate">

			  </div>
			
			  <div class="md-form col-md-4">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">Zipcode</label> -->
			  <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" class="form-control validate">

			  </div>
		  
			<div class="md-form col-md-12 mb-3">
				<label data-error="wrong" data-success="right"  for="status">Status</label>
				<input type="radio" id="status" name="status" value="1">
				<label for="status">Active</label>
				<input type="radio" id="status" name="status" value="0">
				<label for="status">Not Active</label><br>
			</div>

		  <div class="col-md-12">

		  <input type="submit" class="register-user  btn btn-danger text-center w-100" value="Save User">

		  </div>
		   </form>
		</div>
		</div>
	  </div>
	</div>
</div>	
	
	
	
	
	
	
	

	<div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="form-card">
              <div class="">
                <button type="button" class="close cus-modal-crose" data-dismiss="modal">&times;</button>
                <h4 class="text-center"><div class="user-icon-box">
					<i class="fa fa-user"></i>
					<button
					  class="btn"
					  id="edit_{{ show.id }}"
					  data-toggle="modal"
					  data-target="#edit_Modal"
					>
					  <i class="fa fa-edit"></i>
					</button>
				  </div></h4>
              </div>
			<form action="/dashboard/edit_user/" method="post" id="useredit">
					{% csrf_token %}
		  <div class="modal-body form-row">
			 <div class="md-form col-md-6">

			  <!-- <label data-error="wrong" data-success="right" for="firstname">First Name</label> -->
			  <input type="text" id="editfirstname" name ="firstname" placeholder="First Name" class="form-control validate">
              <input type="hidden" id="editid" name ="editid" class="form-control validate">
			</div>

			<div class="md-form col-md-6">

			  <!-- <label data-error="wrong" data-success="right" for="lastname">Last Name</label> -->
			  <input type="text" id="editlastname" name ="lastname" placeholder="Last Name" class="form-control validate">

			</div>
			
			<div class="md-form col-md-12">

			  <!-- <label data-error="wrong" data-success="right" for="username">User Name</label> -->
			  <input type="text" id="editusername" name ="username" placeholder="User Name" class="form-control validate">

			</div>
			<div class="md-form col-md-12">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">Email</label> -->
			  <input type="text" id="editemail" name="email" placeholder="Email" class="form-control validate">

			</div>
			<div class="md-form col-md-12">
				<!-- <label data-error="wrong" data-success="right"  for="phonenumber">
				   Phone Number</label> -->
				<input type="text" id="editphonenumber" name="phonenumber" placeholder="Phone Number" class="form-control validate">
  
			  </div>
			<div class="md-form col-md-12">
				<!-- <label data-error="wrong" data-success="right"  for="amount">Address</label> -->
			   <input type="text" id="editaddress" name="address" placeholder="Address" class="form-control validate">
 
			   </div>
			  <div class="md-form col-md-4">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">City</label> -->
			  <input type="text" id="editcity" name="city" placeholder="City" class="form-control validate">

			  </div>
			  <div class="md-form col-md-4">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">State</label> -->
			  <input type="text" id="editstate" name="state" placeholder="State" class="form-control validate">

			  </div>
			
			  <div class="md-form col-md-4">
			   <!-- <label data-error="wrong" data-success="right"  for="amount">Zipcode</label> -->
			  <input type="text" id="editzipcode" name="zipcode" placeholder="Zipcode" class="form-control validate">

			  </div>
			 
			  
			<div class="md-form mb-3 col-md-12">
				<label data-error="wrong" data-success="right"  for="status">Status</label>
				<input type="radio" id="editstatus" name="status" value="1">
				<label for="status">Active</label>
				<input type="radio" id="editstatus1" name="status" value="0">
				<label for="status">Not Active</label><br>


			</div>

		  <div class="text-center col-md-12">

		  <input type="submit" class="register-user  btn btn-danger w-100 text-center" value="Save User">

		  </div>
		   </form>

                  </div>

          </div>
        </div>
    </div>
</div>
	
	

<!-- delete modal start-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center delete-modal">
		<div class="modal-body h4">
		 Are you sure you want to delete this user?
		</div>
		<div class="pb-3">
		 <input type="hidden" id="setuserid" name="setuserid" >

		  <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>
		  
		  <a href="" id="deleteuser1" class="btn btn-dark btn-rounded">Yes, Delete</a>  

		</div>
	  </div>
	</div>
  </div>
<!-- delete modal end -->
	
	
	
	<div class="manage_admin">
		 <div class="d-flex justify-content-between">
		  <h3>Users List</h3>
		  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm">+ Add Users</a>
		</div>


   <table border="1" id="table" class="table table-striped table-bordered table-sm w-100 user-list-table">
    <thead class="thead-dark">
    <tr>
        <th style="display:none">S.No</th>
        <th>First Name</th>
		 <th>Last Name</th>
        <th>User Name</th>
        <th>Email</th>
       
		<th>City</th>
		<th>Address</th>
		<th>Zipcode</th>
		<th>State</th>
		<th>Phone Number</th>
        <th>Status</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
 {% for user in metausers %}
              <tr>
                <td id="id_{{ user.id }}" style="display:none">{{ forloop.counter }}</td>
                <td id="firstname_{{ user.id }}">{{user.first_name|title}} </td>
				 <td id="lastname_{{ user.id }}">{{user.last_name|title}} </td>
                <td id="username_{{ user.id }}">{{user.username}}</td>
                <td id="email_{{ user.id }}">{{user.email}}</td>
				
				<td id="city_{{ user.id }}" >{{user.city}}</td>
				<td id="address_{{ user.id }}" >{{user.address}}</td>
				<td id="zipcode_{{ user.id }}" >{{user.zipcode}}</td>
				<td id="state_{{ user.id }}">{{user.state}}</td>
				<td id="phonenumber_{{ user.id }}">{{user.phonenumber}}</td>
				<td id="isactive_{{ user.id }}">{{user.is_active}}</td>
                <td class="list_icon">
					<button type="button" class="btn btn-primary edituser" id='edit_{{ user.id }}'  data-toggle="modal" data-target="#edit_Modal"><i class="fa fa-edit"></i></button>
					<button class="btn btn-danger deleteuser" id='delete_{{ user.id }}'  data-toggle="modal" data-target="#deletemodal"><i class="fa fa-trash"></i></button>
                </td>

              </tr>
              {% endfor %}
    </tbody>
</table>

</div>
</section>



<!-- /.content -->




{% endblock %}
{% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });



  $(document).ready(function(){
  $('#table').DataTable();
	  $(".deletebutton").click(function(){
		if (!confirm("Do you want to delete")){
		  return false;
		}
	  });
	  
	  

	$('.deleteuser').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
		
	  $("#setuserid").val(editid);
	  
	  $("#deleteuser1").attr('href','/dashboard/delete_user/'+editid);
	  });
	 
	  
		

     $('.edituser').click(function(){
		var el = this;
		var id = this.id;
		var splitid = id.split("_");
		var editid = splitid[1];
		
		$("#editfirstname").val($.trim($("#firstname_"+editid).text()));
		$("#editlastname").val($.trim($("#lastname_"+editid).text()));
		$("#editusername").val($.trim($("#username_"+editid).text()));
		$("#editemail").val($.trim($("#email_"+editid).text()));
		$("#editcity").val($.trim($("#city_"+editid).text()));
		$("#editaddress").val($.trim($("#address_"+editid).text()));
		$("#editzipcode").val($.trim($("#zipcode_"+editid).text()));
		$("#editstate").val($.trim($("#state_"+editid).text()));
		$("#editphonenumber").val($.trim($("#phonenumber_"+editid).text()));
		
		var editvalue=$.trim($("#isactive_"+editid).text());

		if(editvalue=='True')
		{
			$('#editstatus').attr('checked',true);
		
		}
		else
		{
			$('#editstatus1').attr('checked',true);
		}
		
        $("#editid").val(editid);



    });


	$( "#usereadd" ).validate({
	  rules: {
		firstname: {
		  required: true,
		 
		},
		lastname: {
		  required: true,
		 
		},
		username: {
		  required: true,
		 
		},
		email: {
		  required: true,
		 
		},
		city: {
		  required: true,
		 
		},
		address: {
		  required: true,
		 
		},
		zipcode: {
		  required: true,
		 
		},
		state: {
		  required: true,
		 
		},
		phonenumber: {
		  required: true,
		 
		},
		status: {
		  required: true,
		 
		},
		password: {
		  required: true,
		 
		},
		
	  }
	});
			
			
			
			$( "#useredit" ).validate({
			  rules: {
				firstname: {
				  required: true,
				 
				},
				lastname: {
				  required: true,
				 
				},
				username: {
				  required: true,
				 
				},
				email: {
				  required: true,
				 
				},
				city: {
				  required: true,
				 
				},
				address: {
				  required: true,
				 
				},
				zipcode: {
				  required: true,
				 
				},
				state: {
				  required: true,
				 
				},
				phonenumber: {
				  required: true,
				 
				},
				status: {
				  required: true,
				 
				},
				password: {
				  required: true,
				 
				},
				
				
			  }
			});
        
	

});



</script>




{% endblock %}