{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} All Matches {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="manage_admin">
  <div class="add_min d-flex justify-content-between">
    <h3>All Matches </h3>
    <a href="{% url 'dashboard:add-new-match' %}"><button class="btn btn-success" id="add-user">Add New Match</button></a>
  </div>
  {% if match_list %}
  <!-- <table class="table"> -->
    <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Team Home</th>
            <th scope="col">Team Away</th>
            <th scope="col">Tournament</th>
            <th scope="col">Start Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for match in match_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ match.team_home.team_name|truncatechars:25 }}</td>
            <td>{{ match.team_away.team_name|truncatechars:25 }}</td>
            <td>{{ match.tournament.name_of_tournament|truncatechars:20 }}</td>
            <td>{{ match.start_time }}</td>
            

            <td>

             <a href="{% url 'dashboard:edit-match' match.id %}"> <button type="submit" class="edit  btn btn-primary" data-id="{{ match.id }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>
             <a href="{% url 'dashboard:delete-match' match.id %}"><button type="submit" class="delete btn btn-danger" data-id="{{ tournaments.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button>
             </a>

           </td>

         </tr>
         {% endfor %}
       </tbody>
     </table>
     {% else %}
     <span>No records found</span>
     {% endif %}
    </div>
</div>
   {% endblock %}

