{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} All Tournaments {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="manage_admin">
  <div class="add_min d-flex justify-content-between">
    <h3>All Product List </h3>
    <a href="{% url 'dashboard:add-product' %}"><button class="btn btn-success" id="add-user">Add New Product List</button></a>
  </div>
  {% if product_list %}
  <!-- <table class="table"> -->
    <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Credits</th>
            <th scope="col">Price ($)</th>
            <th scope="col">Image Name</th>
            <th scope="col">View Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for product in product_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product.credits }}</td>
            <td>{{ product.rate_of_item }}</td>
            <td>{{ product.product_image.name|slice:"9:"|truncatechars:20 }}</td>
            <td><a href="{{ product.product_image.url }}" target="_blank"> <button type="submit" class="edit  btn btn-success" ><span><i class="fa fa-eye" aria-hidden="true"></i></span> View</button> </a></td>
            <td>
             <a href="{% url 'dashboard:edit-product' product.id %}"> <button type="submit" value = "{{ product.id}}"class="edit  btn btn-primary" data-id=""><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>
             <a href="{% url 'dashboard:delete-product-list' product.id %}"><button type="submit" class="delete btn btn-danger" data-id=""><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button>
             </a>
           </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
     {% else %}
     <span>No records found</span>
     {% endif %}
   </div>

   {% endblock %}

