{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Add Game
User {% endblock %} {% block head %} {% endblock %} {% block content %}

<section class="content container-fluid">
  <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="manage_admin">
    <div class="d-flex justify-content-between mb-3">
      <h3>Promocode List</h3>
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalRegisterForm"
        >+ Add Promocode</a
      >
    </div>

    <div
      class="modal fade"
      id="modalRegisterForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <h4 class="text-center">Add Promocode</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form
              action="{% url 'dashboard:add_promocode' %}"
              method="post"
              id="promocodeadd"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="codename"
                    >Code Name</label
                  > -->
                  <input
                    type="text"
                    id="codename"
                    name="codename"
                    placeholder="Code Name"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="amount"
                    >Amount</label
                  > -->
                  <input
                    type="text"
                    id="amount"
                    name="amount"
                    placeholder="Amount"
                    class="form-control validate allow_decimal"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="startdate"
                    >Start Date</label
                  > -->
                  <input
                    type="text"
                    id="startdate"
                    name="startdate"
                    placeholder="Start Date"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="enddate"
                    >End Date</label
                  > -->
                  <input
                    type="text"
                    id="enddate"
                    name="enddate"
                    placeholder="End Date"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="enddate"
                    >Zone</label
                  > -->
                   <select id = "zone" name="zone[]"  class="form-control validate" multiple >
					<option value = "">Select Zone</option>
					<option value = "" id="all">All</option>
					 {% for show in zone %}
					<option class ="zoneelement" value = "{{show.name}}_{{show.id}}">{{show.name}}</option>
			
					 {% endfor %}
					</select>
                </div>
                <div class="md-form col-md-12 mb-3">
                  <label data-error="wrong" data-success="right" for="one_time"
                    >One Time</label
                  >

                  <input type="radio" id="onetime" name="onetime" value="1" />
                  <label for="onetime">Yes</label>
                  <input type="radio" id="onetime" name="onetime" value="0" />
                  <label for="onetime">No</label><br />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Save Promocode"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">Edit Promocode</h4>
            </div>
            <form
              action="/dashboard/edit_promocode/"
              method="post"
              id="promocodeedit"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="codename"
                    >Code Name</label
                  > -->
                  <input
                    type="text"
                    id="editcodename"
                    name="codename"
                    placeholder="Code Name"
                    class="form-control validate"
                  />
                  <input
                    type="hidden"
                    id="editid"
                    name="editid"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="amount"
                    >Amount</label
                  > -->
                  <input
                    type="text"
                    id="editamount"
                    name="amount"
                    placeholder="Amount" 
                    class="form-control validate allow_decimal"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="startdate"
                    >Start Date</label
                  > -->
                  <input
                    type="text"
                    id="editstartdate"
                    name="startdate"
                    placeholder="Start Date"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="enddate"
                    >End Date</label
                  > -->
                  <input
                    type="text"
                    id="editenddate"
                    name="enddate"
                    placeholder="End Date"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="enddate"
                    >Zone</label
                  > -->
				  
				
                  <select id = "editzone" name="zone[]"  class="form-control validate" multiple>
					<option value = "">Select Zone</option>
					 <option value = "" id="editall">All</option>
					 {% for show in zone %}
					<option  class="editzoneelement" value = "{{show.name}}_{{show.id}}">{{show.name}}</option>
			
					 {% endfor %}
					</select>
                </div>
                <div class="md-form col-md-12 mb-3">
                  <label data-error="wrong" data-success="right" for="one_time"
                    >One Time</label
                  >

                  <input type="radio" id="onetime1" name="onetime" value="1" />
                  <label for="onetime">Yes</label>
                  <input type="radio" id="onetime2" name="onetime" value="0" />
                  <label for="onetime">No</label><br />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Edit Promocode"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!-- delete modal start-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center delete-modal">
		<div class="modal-body h4">
		 Are you sure you want to delete this Promocode?
		</div>
		<div class="pb-3">
		 <input type="hidden" id="setpromocodeid" name="setpromocodeid" >
		  <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>
		 		  <a href="" id="deletepromocode1" class="btn btn-dark btn-rounded">Yes, Delete</a>  
 
		</div>
	  </div>
	</div>
  </div>
<!-- delete modal end -->

    <div class="table-responsivemk">
      <table id="table_id"
        border="1"
        class="table table-striped table-bordered table-sm w-100 promocode-table"
      >
        <thead class="thead-dark">
          <tr>
            <th style="display:none">ID</th>
            <th>Code</th>
           
            <th>Start Date</th>
            <th>End Date</th>
            <th>Zone</th>
			  <th style="display:none">zone1</th>
			   <th>$ or %</th>
            <th>One Time Code?</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for show in promocode %}
          <tr>
            <td id="id_{{ show.id }}" style="display:none">{{ forloop.counter }}</td>
            <td id="codename_{{ show.id }}">{{ show.code_name }}</td>
            
            <td id="startdate_{{ show.id }}">{{ show.start_date }}</td>
            <td id="enddate_{{ show.id }}">{{ show.end_date }}</td>
            <td id="zone_{{ show.id }}">{{ show.zone }}</td>
			  <td style="display:none" id="zoneid_{{ show.id }}">{{show.zone_id}}</td>
			  <td id="amount_{{ show.id }}">{{ show.amount }}</td>
			  
			  {% if show.one_time == 1  %}
			 <td id="onetime_{{ show.id }}">Yes</td>
			{% else %}
			 <td id="onetime_{{ show.id }}">No</td>
			{% endif %}
           
            <td>
              <button
                type="button"
                class="btn btn-primary editpromocode"
                id="edit_{{ show.id }}"
                data-toggle="modal"
                data-target="#edit_Modal"
              >
                <i class="fa fa-edit"></i>
              </button>
              <!-- <a
                href="/dashboard/delete_promocode/{{ show.id }}"
                class="deletebutton btn btn-danger"
                ><i class="fa fa-trash"></i
              ></a> -->

              <button type="button" class="btn btn-danger deletepromocode" id='delete_{{ show.id }}' data-toggle="modal" data-target="#deletemodal"><i class="fa fa-trash"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->

{% endblock %} {% block js %}

<script>




$('#editall').click( function() {
    $('.editzoneelement').prop('selected', true);
}); 
$('#all').click( function() {
    $('.zoneelement').prop('selected', true);
}); 


		$('.deletepromocode').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
		
	  $("#setpromocodeid").val(editid);
	  
	  $("#deletepromocode1").attr('href','/dashboard/delete_promocode/'+editid);
	  });
	 

  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function() {
  
   $(".allow_decimal").on("input", function(evt) {
   var self = $(this);
   self.val(self.val().replace(/[^0-9\.$%]/g, ''));
   if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
   {
     evt.preventDefault();
   }
 });
  
  
    $('.deletebutton').click(function() {
      if (!confirm('Do you want to delete')) {
        return false;
      }
    });

    $('.editpromocode').click(function() {
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
      $('#editcodename').val($.trim($('#codename_' + editid).text()));
      $('#editamount').val($.trim($('#amount_' + editid).text()));
      $('#editstartdate').val($.trim($('#startdate_' + editid).text()));
      $('#editenddate').val($.trim($('#enddate_' + editid).text()));
      var editvalue = $.trim($('#onetime_' + editid).text());

      if (editvalue == 'True') {
        $('#onetime1').attr('checked', true);
      } else {
        $('#onetime2').attr('checked', true);
      }
		var zone =$.trim($("#zone_"+editid).text()) +'_'+ $.trim($("#zoneid_"+editid).text());

		$('#editzone').val(zone);
	  

      $('#editid').val(editid);
    });

    $('#promocodeedit').validate({
      rules: {
        codename: {
          required: true
        },
        amount: {
          required: true
        },
        startdate: {
          required: true
        },
        enddate: {
          required: true
        },
        onetime: {
          required: true
        },
        zone: {
          required: true
        }
      }
    });

    $('#promocodeadd').validate({
      rules: {
        codename: {
          required: true
        },
        amount: {
          required: true
          
        },
        startdate: {
          required: true
        },
        enddate: {
          required: true
        },
        onetime: {
          required: true
        },
        zone: {
          required: true
        }
      }
    });
  });

  $(document).ready(function() {
  $('#table_id').DataTable();
    $('#enddate').datepicker({
      format: 'dd-mm-yyyy'
    });
    $('#startdate')
      .datepicker({
		 startDate: '-0d',
        format: 'dd-mm-yyyy',
        todayBtn: 1,
        autoclose: true
      })
      .on('changeDate', function(selected) {
        var minDate = new Date(selected.date.valueOf());
        $('#enddate').datepicker('setStartDate', minDate);
      });

    $('#enddate')
      .datepicker()

      .on('changeDate', function(selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('#startdate').datepicker('setEndDate', maxDate);
      });

    $('#editenddate').datepicker({
      format: 'dd-mm-yyyy'
    });
    $('#editstartdate')
      .datepicker({
	   startDate: '-0d',
        format: 'dd-mm-yyyy',
        todayBtn: 1,
        autoclose: true
      })
      .on('changeDate', function(selected) {
        var minDate = new Date(selected.date.valueOf());
        $('#editenddate').datepicker('setStartDate', minDate);
      });

    $('#editenddate')
      .datepicker()

      .on('changeDate', function(selected) {
        var maxDate = new Date(selected.date.valueOf());
        $('#editstartdate').datepicker('setEndDate', maxDate);
      });
  });
</script>

{% endblock %}
