{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>COLOSSEUM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- style css -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'main/css/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/hover.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  
</head>
<body>
  {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div class="login-section bg-primary height-100">
        <div class="login-form-bg w-100">
          <div class="text-center">
            <h2 class="login-headline">
              RESET PASSWORD
            </h2>
          </div>
          <form action="{% url 'dashboard:reset_password' code %}" method="post" onsubmit="return validationCheck()">
            {% csrf_token %}
            <fieldset class="formRow">
              <div class="formRow--item">
                <label for="pass" class="formRow--input-wrapper js-inputWrapper">
                  <input type="password" name="password" class="formRow--input js-input" id="password" placeholder="Enter New Password" minlength="8" maxlength="25">
                </label>
                <div class="error" style="display: none;" id="null_password">Password can't be empty.
                </div>
                <div class="count-icon text-right">
                  0
                </div>
              </div>
              <div class="formRow--item">
                <label for="c_pass" class="formRow--input-wrapper js-inputWrapper">
                  <input type="password" name="confirm_password" class="formRow--input js-input" id="confirm_password" placeholder="Enter Confirm Password" minlength="8" maxlength="25">
                </label>
                <div class="error" style="display: none;" id="null_confirm_password">Confirm Password can't be empty.
                </div>
                <div class="count-icon text-right">
                  0
                </div>
              </div>
              <div class="error" style="display: none;" id="password_error"><span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>Password Doesn't match</div>
            </fieldset>
            <button type="submit" id="forget_pwd_btn" class="btn btn-default btn-block login-btn my-3">SUBMIT</button>
          </form>
        </div>
  </div>
<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>    
<script src="{% static 'main/js/popper.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>    
<script src="{% static 'main/js/slick.min.js' %}"></script>
<script src="{% static 'main/js/slick.js' %}"></script>
<script src="{% static 'main/js/a076d05399.js' %}"></script>

<script type="text/javascript">
  function validationCheck(){
    var password = $("#password").val();
    var confirm_password = $("#confirm_password").val();
    if(password=='' && confirm_password==''){
      $("#null_password").css("display","block");
      $("#null_confirm_password").css("display","block");
      $("#password_error").css("display","none");
      return false;
    }
    if(password==''){
      $("#null_password").css("display","block");
      $("#null_confirm_password").css("display","none");
      $("#password_error").css("display","none");
      return false;
    }
    if(confirm_password==''){
      $("#null_password").css("display","none");
      $("#null_confirm_password").css("display","block");
      $("#password_error").css("display","none");
      return false;
    }
    if (password!=confirm_password) {
      $("#password_error").css("display","block");
      $("#null_password").css("display","none");
      $("#null_confirm_password").css("display","none");
      return false;
    }
    return true;
  }
  
   $(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert").slideUp(500);
  });
  
</script>
</body>
</html>