{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ridehistory</title>
</head>
<body>
<!-- <h1>Ride List</h1>-->
<!--&lt;!&ndash;    <div class="ride">&ndash;&gt;-->
<!--        {% for ride in rides %}-->
<!--            <div class="article">-->
<!--                <p>hii</p>-->
<!--                <p>{{ ride.ridearea }}</p>-->
<!--&lt;!&ndash;                <p>{{ ride.date }}</p>&ndash;&gt;-->

<!--            </div>-->
<!--        {% endfor%}-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->




    <h1>Ride List</h1>
    <div class="articles">

        {% for article in articles %}
            <div class="article">

                <h2>User Name: {{ article.name}}</h2>
                <p>Ride Area : {{ article.ridearea}}</p>
                <P>Date : {{article.created_at}}</P>
                <p>Ride Status : {{article.ridestatus}}</p>
            </div>
        {% endfor%}
    </div>

</body>
</html>


