{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add Role {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

  <section class="content container-fluid">
   <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="manage_admin">
     <div class="add_min d-flex justify-content-between mb-3">
      <h3>Role List</h3>
      <a class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm">+ Role</a>
    </div>

  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="form-card">
      <div class="">
        <h4 class="text-center">Add Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form action="{% url 'dashboard:add_role' %}" method="post" id="roleadd">
        {% csrf_token %}
      <div class="modal-body form-row">
        <div class="col-md-12">
          <!-- <label data-error="wrong" data-success="right" for="role">Role Name</label> -->
          <input type="text" id="role" name ="role" class="form-control validate" placeholder="Role Name">
        </div>
        <div class="col-md-12">
          <input type="submit" class="register-user  btn btn-danger w-100 text-center value="Save">
        </div>
      </div>
     </form>
     </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="form-card">
              <div class="">
                <button type="button" class="close cus-modal-crose" data-dismiss="modal">&times;</button>
                <h4 class="text-center">Edit Role</h4>
              </div>
        <form action="/dashboard/edit_role/" method="post" id="roleedit">
          {% csrf_token %}
            <div class="modal-body form-row">
            <div class="col-md-12">
              <!-- <label data-error="wrong" data-success="right" for="role">Role Name</label> -->
              <input type="text" id="rolename" name ="role" class="form-control validate" placeholder="Role Name">
                <input type="hidden" id="editid" name ="editid" class="form-control validate">
            </div>
            <div class="col-md-12">
              <input type="submit" class="register-user btn btn-danger w-100 text-center" value="Save">
            </div>
            </div>
        </form>
                  </div>

          </div>
        </div>
    </div>


    <!-- delete modal start-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center delete-modal">
		<div class="modal-body h4">
		 Are you sure you want to delete this Role?
		</div>
		<div class="pb-3">
		 <input type="hidden" id="setroleid" name="setroleid" >
		  <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>
			 <a href="" id="deleterole1" class="btn btn-dark btn-rounded">Yes, Delete</a>  
		</div>
	  </div>
	</div>
  </div>
<!-- delete modal end -->


   <table border="1" class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th> ID</th>
        <th> Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for show in groups %}
    <tr>
        <td id="id_{{ show.id }}">{{ forloop.counter }}</td>
        <td id="role_{{ show.id}}">{{ show.name|title }}</td>
        <td>

       <button type="button" class="btn btn-primary page-sec-edt-btn edit_role" id='edit_{{ show.id }}'  data-toggle="modal" data-target="#edit_Modal"><i class="fa fa-edit"></i></button>		
     <!-- <a href="/dashboard/delete_role/{{ show.id }}" class="deletebutton btn btn-danger"><i class="fa fa-trash"></i></a>   -->
     <button type="button" class="btn btn-danger deleterole"  id='delete_{{ show.id }}'  data-toggle="modal" data-target="#deletemodal"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
</section>

{% endblock %}
{% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function(){
  $(".deletebutton").click(function(){
    if (!confirm("Do you want to delete")){
      return false;
    }
  });


	$('.deleterole').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
		
	  $("#setroleid").val(editid);
	  
	  $("#deleterole1").attr('href','/dashboard/delete_role/'+editid);
	  });

    $('.edit_role').click(function(){

    var id = this.id;

    var splitid = id.split("_");

    var editids = splitid[1];

    $("#rolename").val($.trim($("#role_"+editids).text()));

    // console.log(role)
    $("#editid").val(editids);

    });

   $( "#roleedit" ).validate({
          rules: {
            role: {
              required: true,

            },
          }
        });

    $( "#roleadd" ).validate({
          rules: {
            role: {
              required: true,

            },

          }
        });

});
</script>

{% endblock %}

