{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Rule Lists {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

    <section class="content container-fluid">
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Tournament Rules</h3>
    <a href="{% url 'dashboard:add-rules' %}"><button class="btn btn-success" id="add-user">Add New Tournament Rules</button></a>
    </div>
    {% if rule_list %}
    <!-- <table class="table"> -->
      <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
      <thead>   
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Tournament Name</th>
          <th scope="col">Tournament Rules</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for rule in rule_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ rule.tournament_for_rule.name_of_tournament|truncatechars:25 }}</td>
          <td>{{ rule.general_rules|truncatechars:25 }}</td>

          <td>
           <a href="{% url 'dashboard:edit-rule' rule.id %}"> <button type="button" class="edit  btn btn-primary" data-id="{{ rule.id }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>

            <a href="{% url 'dashboard:delete-rule-list' rule.id %}"><button type="button" class="delete btn btn-danger" data-id="{{ rule.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <span>No records found</span>
    {% endif %}
      </div>
    </section>
  {% endblock %}

