{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} All Tournaments {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="manage_admin">
  <div class="add_min d-flex justify-content-between">
    <h3>All Teams </h3>
    <a href="{% url 'dashboard:add-team' %}"><button class="btn btn-success" id="add-user">Add New Team</button></a>
  </div>
  {% if team_list %}
  <!-- <table class="table"> -->
    <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Team Name</th>
            <th scope="col">Images</th>
            <th scope="col">View Image</th>
            <th scope="col">Team Owner</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for team in team_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ team.team_name }}</td>
            <td>{{ team.team_logo.name|slice:"10:"|truncatechars:10 }}</td>
            <td><a href="{{ team.team_logo.url }}" target="_blank"> <button type="submit" class="edit  btn btn-success" ><span><i class="fa fa-eye" aria-hidden="true"></i></span> View</button> </a></td>
            <td>{{ team.team_owner }}</td>
            <td>
             <a href="{% url 'dashboard:edit-team' team.id %}"> <button type="submit" class="edit  btn btn-primary" data-id="{{ team.id }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>
             <a href="{% url 'dashboard:delete-team' team.id %}"><button type="submit" class="delete btn btn-danger" data-id="{{ team.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button>
             </a>
           </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
     {% else %}
     <span>No records found</span>
     {% endif %}
    </div>
</div>
   {% endblock %}

