{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} All Tournaments {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<div class="manage_admin">
  <div class="add_min d-flex justify-content-between">
    <h3>All Tournaments </h3>
    <a href="{% url 'dashboard:add-tournament' %}"><button class="btn btn-success" id="add-user">Add New Tournament</button></a>
  </div>
  {% if all_tournaments %}
  <!-- <table class="table"> -->
    <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Tournament Name</th>
            <th scope="col">Images</th>
            <th scope="col">View Image</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for tournaments in all_tournaments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tournaments.name_of_tournament }}</td>
            <td>{{ tournaments.tournament_image.name|slice:"11:"|truncatechars:10 }}</td>
            <td><a href="{{ tournaments.tournament_image.url }}" target="_blank"> <button type="submit" class="edit  btn btn-success" ><span><i class="fa fa-eye" aria-hidden="true"></i></span> View</button> </a></td>
            <td>
             <a href="{% url 'dashboard:edit-tournament' tournaments.id %}"> <button type="submit" class="edit  btn btn-primary" data-id="{{ tournaments.id }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>
             <a href="{% url 'dashboard:delete-tournament' tournaments.id %}"><button type="submit" class="delete btn btn-danger" data-id="{{ tournaments.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button>
             </a>
           </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
     {% else %}
     <span>No records found</span>
     {% endif %}
   </div>

   {% endblock %}

