{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Staff User List {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

    <section class="content container-fluid">
      <div class="manage_admin">
        <div class="add_min d-flex justify-content-between"> 
    <h3>Tournament Type</h3>
    <a href="{% url 'dashboard:add_tournament_type' %}"><button class="btn btn-success" id="add-user">Add New Tournament Types</button></a>
    </div>
    {% if tournament_list %}
    <!-- <table class="table"> -->
      <div class="posting_table">
      <table id="example" class="table table-bordered datatable" style="width:100%">
      <thead>   
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Tournament Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for tournament in tournament_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ tournament.type_name|title }}</td>

          <td>
           <a href="{% url 'dashboard:edit-tournament-type' tournament.id %}"> <button type="button" class="edit  btn btn-primary" data-id="{{ tournament.id }}"><span><i class="fa fa-pencil" aria-hidden="true"></i></span> Edit</button> </a>

            <a href="{% url 'dashboard:delete-tournament-type' tournament.id %}"><button type="button" class="delete btn btn-danger" data-id="{{ tournament.id }}"><span><i class="fa fa-trash-o" aria-hidden="true"></i></span> Delete</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <span>No records found</span>
    {% endif %}
      </div>
    </section>
  {% endblock %}

