{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %} Add User {% endblock %}
{% block head %}

{% endblock %}
{% block content %}

<section class="content container-fluid">
  <div class="manage_admin">
    <div class="add_min d-flex justify-content-between"> 
      <h3>Latest Ride</h3>
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
     
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="/static/main/images/Dashbord.png" class="w-100">   
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
         <div class="shadow-box">
           
           <!-- <div class="number">{{ridecomp}}</div> -->
           <div class="d-flex justify-content-center">
             <div class="icon-box text-danger">
               <i class="fa fa-car"></i>
            </div>
            <div class="text">
              <h4>Total Rides</h4>
           <div class="number text-danger">{{ ride.count }}</div>
           <div class="days">This Month</div>
            </div>
            </div>
         </div>   
          </div>
          <div class="col-md-6">
            <div class="shadow-box">
              <h4>Canceled Rides</h4>
              <div class="number">{{ridecancelled}}</div>
              <div class="days">This Month</div>
            </div>   
             </div>
             <div class="col-md-6">
              <div class="shadow-box">
                <div class="d-flex justify-content-center">
                  <div class="icon-box text-green">
                    <i class="fa fa-user"></i>
                 </div>
                 <div class="text">
                <h4>Total Users</h4>
                <div class="number text-green">{{usercount}}</div>
                <div class="days">This Month</div>
                </div>
                </div>
              </div>   
              </div>
        </div>
      </div>
    </div>
    <!-- <table class="table"> -->
      <div class="posting_table table-responsivemk">
        <table id="table_id" class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th scope="col" style="display:none">Sr.No</th>
              <th scope="col">Name</th>
              <th scope="col">Ride Area</th>
              <th scope="col">Completed Time</th>
              <th scope="col">Ride Status</th>
            </tr>
          </thead>
          <tbody>
	
            {% for ride in ride %}
            <tr>
              <td style="display:none">{{ forloop.counter }}</td>
              <td>{{ ride.name }}</td>
              <td>{{ ride.ridearea }}</td>
              <td>{{ ride.ridetime }}</td>
			  
			{% if ride.ridestatus == 'CANCELLED'  %}
			 <td class="cancelled">CANCELED</td>
			{% else %}
			 <td class="Completed">{{ ride.ridestatus}}</td>
			{% endif %}
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </section>
  </div>
  
  {% endblock %}
  {% block js %}

  <script type="text/javascript">
  
	  $(document).ready(function() {
    $('#table_id').DataTable();
	
	});
   $('.list_icon').on('click', function(){
    var value = $(this).find('i').attr('value');
    $.ajax({
      url: '{{request.path}}',
      type: 'post',
      data:{
        'csrfmiddlewaretoken': '{{csrf_token}}',
        'value':value
      },
      success: function(response){
        window.location.reload();
      }
    });
  });

;
</script>
{% endblock %}