{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Add Game
User {% endblock %} {% block head %} {% endblock %} {% block content %}

<section class="content container-fluid">
  <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="manage_admin">
    <div class="d-flex justify-content-between mb-3">
      <h3>Vehicle List</h3>
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalRegisterForm"
        >Add Vehicle</a
      >
    </div>

    <div
      class="modal fade"
      id="modalRegisterForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">
                Add Vehicle
              </h4>
            </div>
            <form
              action="{% url 'dashboard:add_vechicle' %}"
              method="post"
              id="vechicleadd"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="licenseno"
                    >License No.</label
                  > -->
                  <input
                    type="text"
                    id="licenseno"
                    name="license No"
                    placeholder="License No."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="zone"
                    >Zone</label
                  > -->
                  <input
                    type="text"
                    id="zone"
                    name="zone"
                    placeholder="Zone"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="vehicleno"
                    >Vehicle No.</label
                  > -->
                  <input
                    type="text"
                    id="vehicleno"
                    name="vehicleno"
                    placeholder="Vehicle No."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="manufacturer"
                    >Manufacturer</label
                  > -->
                  <input
                    type="text"
                    id="manufacturer"
                    name="manufacturer"
                    placeholder="Manufacturer"
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user text btn btn-danger w-100"
                    value="Save"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">
                Edit Vehicle
              </h4>
            </div>
            <form
              action="/dashboard/edit_vechicle/"
              method="post"
              id="vechicleedit"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="licenseno"
                    >License No.</label
                  > -->
                  <input
                    type="text"
                    id="editlicenseno"
                    name="licenseno"
                    placeholder="License No."
                    class="form-control validate"
                  />
                  <input
                    type="hidden"
                    id="editid"
                    name="editid"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="zone"
                    >Zone</label
                  > -->
                  <input
                    type="text"
                    id="editzone"
                    name="zone"
                    placeholder="Zone"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="vehicleno"
                    >Vehicle No.</label
                  > -->
                  <input
                    type="text"
                    id="editvehicleno"
                    name="vehicleno"
                    placeholder="Vehicle No."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="manufacturer"
                    >Manufacturer</label
                  > -->
                  <input
                    type="text"
                    id="editmanufacturer"
                    name="manufacturer"
                    placeholder="Manufacturer"
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user  btn btn-danger w-100 text-center"
                    value="Save"
                  />
                  <!-- <button
                    type="button"
                    class="btn primary-btn primary-btn-sec-col"
                    data-dismiss="modal"
                  >
                    Close
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <table
      border="1"
      class="table table-striped table-bordered table-sm w-100 vechicle-list-table"
      id="table_id"
    >
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>License No.</th>
          <th>Zone</th>
          <th>Vehicle No.</th>
          <th>Manufacturer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for show in vechicle %}
        <tr>
          <td id="id_{{ show.id }}">{{ forloop.counter }}</td>
          <td id="license_{{ show.id }}">{{ show.license }}</td>
          <td id="zone_{{ show.id }}">{{ show.zone }}</td>
          <td id="vehicleno_{{ show.id }}">{{ show.vehicleno }}</td>
          <td id="manufacturer_{{ show.id }}">{{ show.manufacturer }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary editvechicle"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
            <a
              href="/dashboard/delete_vechicle/{{ show.id }}"
              class="deletebutton btn btn-danger"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<!-- /.content -->

{% endblock %} {% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function() {
    $('#table_id').DataTable();

    $('.deletebutton').click(function() {
      if (!confirm('Do you want to delete')) {
        return false;
      }
    });

    $('.editvechicle').click(function() {
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
      $('#editlicenseno').val($.trim($('#license_' + editid).text()));
      $('#editzone').val($.trim($('#zone_' + editid).text()));
      $('#editvehicleno').val($.trim($('#vehicleno_' + editid).text()));
      $('#editmanufacturer').val($.trim($('#manufacturer_' + editid).text()));
      $('#editid').val(editid);
    });

    $('#vechicleedit').validate({
      rules: {
        licenseno: {
          required: true
        },
        zone: {
          required: true
        },
        vehicleno: {
          required: true
        },
        manufacturer: {
          required: true
        }
      }
    });

    $('#vechicleadd').validate({
      rules: {
        licenseno: {
          required: true
        },
        zone: {
          required: true
        },
        vehicleno: {
          required: true
        },
        manufacturer: {
          required: true
        }
      }
    });
  });
</script>

{% endblock %}
