{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Add Game
User {% endblock %} {% block head %} {% endblock %} {% block content %}

<section class="content container-fluid">
  <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="manage_admin">
    <div class="d-flex justify-content-between mb-3">
      <h3>Vehicle List</h3>
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalRegisterForm"
        >+ New Vehicle</a>
    </div>

    <div
      class="modal fade"
      id="modalRegisterForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">
                Add Vehicle
              </h4>
            </div>
            <form enctype="multipart/form-data"
              action="{% url 'dashboard:add_vechicle' %}"
              method="post"
              id="vechicleadd"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
              <div class="col-md-12">
                  <div class="radius-image-50 mb-3">
<img src="/static/main/images/car.jpg" class="w-100"/>
<div class="btn btn-dark"><i class="fa fa-pencil"></i></div>
<input
type="file"
id="file"
name="file"

class="form-control validate"
/>

                  </div>
              </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="licenseno"
                    >License No.</label
                  > -->
                  <input
                    type="text"
                    id="licenseno"
                    name="licenseno"
                    placeholder="License No."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="zone"
                    >Zone</label
                  > -->
                
				  
					<select id = "zone" name="zone"  class="form-control validate">
					<option value = "">Select Zone</option>
					 {% for show in zone %}
					<option value = "{{show.name}}">{{show.name}}</option>
			
					 {% endfor %}
					</select>
				  
				  
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="vehicleno"
                    >Vehicle No.</label
                  > -->
                  <input
                    type="text"
                    id="vehicleno"
                    name="vehicleno"
                    placeholder="Vehicle No."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="manufacturer"
                    >Manufacturer</label
                  > -->
                  <input
                    type="text"
                    id="manufacturer"
                    name="manufacturer"
                    placeholder="Manufacturer"
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user text btn btn-danger w-100"
                    value="Save Vehicle"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ext-pad-spc">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">
                Edit Vehicle
              </h4>
            </div>
            <form
              action="/dashboard/edit_vechicle/"
              method="post"
              id="vechicleedit" enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="col-md-12">
                  <div class="radius-image-50 mb-3">
<img src="/static/main/images/car.jpg" class="w-100"/>
<div class="btn btn-dark"><i class="fa fa-pencil"></i></div>
<input
type="file"
id="file"
name="file"

class="form-control validate"
/>

                  </div>
              </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="licenseno"
                    >License No.</label
                  > -->
                  <input
                    type="text"
                    id="editlicenseno"
                    name="licenseno"
                    placeholder="License No."
                    class="form-control validate"
                  />
                  <input
                    type="hidden"
                    id="editid"
                    name="editid"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="zone"
                    >Zone</label
                  > -->
                
				  
				  
				  <select id = "editzone" name="zone"  class="form-control validate">
					 {% for show in zone %}
					<option value = "{{show.name}}">{{show.name}}</option>
			
					 {% endfor %}
					</select>
				  
				  
				  
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="vehicleno"
                    >Vehicle No.</label
                  > -->
                  <input
                    type="text"
                    id="editvehicleno"
                    name="vehicleno"
                    placeholder="Vehicle No."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="manufacturer"
                    >Manufacturer</label
                  > -->
                  <input
                    type="text"
                    id="editmanufacturer"
                    name="manufacturer"
                    placeholder="Manufacturer"
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user  btn btn-danger w-100 text-center"
                    value="Edit Vehicle"
                  />
                  <!-- <button
                    type="button"
                    class="btn primary-btn primary-btn-sec-col"
                    data-dismiss="modal"
                  >
                    Close
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


<!-- delete modal start-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center delete-modal">
		<div class="modal-body h4">
		 Are you sure you want to delete this Vehicle?
		</div>
		<div class="pb-3">
		 <input type="hidden" id="setvehicleid" name="setvehicleid" >
		  <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>
		  
		   <a href="" id="deletevechicle1" class="btn btn-dark btn-rounded">Yes, Delete</a>  
		</div>
	  </div>
	</div>
  </div>
<!-- delete modal end -->


    <table
      border="1"
      class="table table-striped table-bordered table-sm w-100 vechicle-list-table"
      id="table_id"
    >
      <thead class="thead-dark">
        <tr>
          <th style="display:none">ID</th>
          <th>License No.</th>
          <th>Zone</th>
          <th>Vehicle No.</th>
		   <th>Vehicle Image</th>
          <th>Manufacturer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for show in vechicle %}
        <tr>
          <td id="id_{{ show.id }}" style="display:none">{{ forloop.counter }}</td>
          <td id="license_{{ show.id }}">{{ show.license }}</td>
          <td id="zone_{{ show.id }}">{{ show.zone }}</td>
          <td id="vehicleno_{{ show.id }}">{{ show.vehicleno }}</td>
		  <td id="vehicleimage_{{ show.id }}"><img src="{{url}}media/vehicle/{{ show.image }}" height="50px" width="10px" class="thumbnailimage-50"></td>
          <td id="manufacturer_{{ show.id }}">{{ show.manufacturer }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary editvechicle"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger deletevechicle" id='delete_{{ show.id }}'  data-toggle="modal" data-target="#deletemodal"><i class="fa fa-trash"></i></button>
          
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<!-- /.content -->

{% endblock %} {% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function() {
    $('#table_id').DataTable();

    $('.deletebutton').click(function() {
      if (!confirm('Do you want to delete')) {
        return false;
      }
    });
	
	$('.deletevechicle').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
		
	  $("#setvehicleid").val(editid);
	  
	  $("#deletevechicle1").attr('href','/dashboard/delete_vechicle/'+editid);
	  });

    $('.editvechicle').click(function() {
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
      $('#editlicenseno').val($.trim($('#license_' + editid).text()));
      $('#editzone').val($.trim($('#zone_' + editid).text()));
      $('#editvehicleno').val($.trim($('#vehicleno_' + editid).text()));
      $('#editmanufacturer').val($.trim($('#manufacturer_' + editid).text()));
      $('#editid').val(editid);
    });

    $('#vechicleedit').validate({
      rules: {
        licenseno: {
          required: true
        },
        zone: {
          required: true
        },
        vehicleno: {
          required: true
        },
        manufacturer: {
          required: true
        }
      }
    });

    $('#vechicleadd').validate({
      rules: {
        licenseno: {
          required: true
        },
        zone: {
          required: true
        },
        vehicleno: {
          required: true
        },
        manufacturer: {
          required: true
        }
      }
    });
  });
</script>

{% endblock %}
