{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Add Zone
User {% endblock %} {% block head %} {% endblock %} {% block content %}

<section class="content container-fluid">
  <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="manage_admin">
    <div class="d-flex justify-content-between mb-3">
      <h3>Zone List</h3>
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalRegisterForm"
        >+ New Zone</a
      >
    </div>

    <div
      class="modal fade"
      id="modalRegisterForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <h4 class="text-center">New Zone</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form
              action="{% url 'dashboard:add_zone' %}"
              method="post"
              id="zoneadd"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="name"
                    >Name</label
                  > -->
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Name"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="nickname"
                    >Nickname</label
                  > -->
                  <input
                    type="text"
                    id="nickname"
                    name="nickname"
                    placeholder="Nickname"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="flatrateprice"
                    >Flat Rate Price</label
                  > -->
                  <input
                    type="text"
                    id="flatrateprice"
                    name="flatrateprice"
                    placeholder="Flat Rate Price"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationshrs"
                  >
                    Operations hrs.</label
                  > -->
                  <input
                    type="text"
                    id="operationshrs"
                    name="operationshrs"
                    placeholder="Operations hrs."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationsdays"
                  >
                    Operations days.</label
                  > -->
                  <input
                    type="text"
                    id="operationsdays"
                    name="operationsdays"
                    placeholder="Operations days."
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Save Zone"
                  />
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">Edit Zone</h4>
            </div>
            <form action="/dashboard/edit_zone/" method="post" id="zoneedit">
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="name"
                    >Name</label
                  > -->
                  <input
                    type="text"
                    id="editname"
                    name="name"
                    placeholder="Name"
                    class="form-control validate"
                  />
                  <input
                    type="hidden"
                    id="editid"
                    name="editid"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="nickname"
                    >Nickname</label
                  > -->
                  <input
                    type="text"
                    id="editnickname"
                    name="nickname"
                    placeholder="Nickname"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="flatrateprice"
                    >Flat Rate Price</label
                  > -->
                  <input
                    type="text"
                    id="editflatrateprice"
                    name="flatrateprice"
                    placeholder="Flat Rate Price"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationshrs"
                  >
                    Operations hrs.</label
                  > -->
                  <input
                    type="text"
                    id="editoperationshrs"
                    name="operationshrs"
                    placeholder="Operations hrs."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationsdays"
                  >
                    Operations days.</label
                  > -->
                  <input
                    type="text"
                    id="editoperationsdays"
                    name="operationsdays"
                    placeholder="Operations days."
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Edit Zone"
                  />
                  <!-- <button
                    type="button"
                    class="btn primary-btn primary-btn-sec-col"
                    data-dismiss="modal"
                  >
                    Close
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {% for show in zone %}
      <div class="col-md-6">
        <div class="zone-box">
          <h3 class="zone-title">{{ show.name }}</h3>
		    <input
                    type="hidden"
                    id="name_{{ show.id }}" value="{{show.name}}"
                    name="name"
                    class="form-control validate"
                  />
		  <input
                    type="hidden"
                    id="nickname_{{ show.id }}"
                    name="nickname" value="{{show.nickname}}"
                    class="form-control validate"
                  />
				  <input
                    type="hidden"
                    id="flatrateprice_{{ show.id }}"
                    name="flatrateprice" value="{{show.flatrateprice}}"
                    class="form-control validate"
                  />
				  <input
                    type="hidden"
                    id="operationshrs_{{ show.id }}"
                    name="operationshrs"  value="{{show.operationshrs}}"
                    class="form-control validate"
                  />
				  <input
                    type="hidden"
                    id="operationsdays_{{ show.id }}"
                    name="operationsdays"  value="{{show.operationsdays}}"
                  />

			<input id="address_{{ show.id }}" type="hidden" class="test" value="{{show.name}}" >
			<div id="map_{{ show.id }}" class="map"></div>
          <div class="zone-footer text-right">
            <a
              href="/dashboard/delete_zone/{{ show.id }}"
              class="deletebutton btn btn-danger"
              ><i class="fa fa-trash"></i
            ></a>
            <button
              type="button"
              class="btn btn-primary editzone"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- <table border="1" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Nickname</th>
          <th>Flat Rate Price</th>
          <th>Operations hrs.</th>
          <th>Operations days.</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for show in zone %}
        <tr>
          <td id="id_{{ show.id }}">{{ forloop.counter }}</td>
          <td id="name_{{ show.id }}">
            <iframe
              width="100%"
              height="450"
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAVvDxJM1uepF2cBfFn4D7AzMAZFwObnbY
    &q={{ show.name }}"
              allowfullscreen
            >
            </iframe
            >{{ show.name }}
          </td>
          <td id="nickname_{{ show.id }}">{{ show.nickname }}</td>
          <td id="flatrateprice_{{ show.id }}">{{ show.flatrateprice }}</td>
          <td id="operationshrs_{{ show.id }}">{{ show.operationshrs }}</td>
          <td id="operationsdays_{{ show.id }}">{{ show.operationsdays }}</td>
          <td>
            <button
              type="button"
              class="primary-btn page-sec-edt-btn editzone"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
            <a href="/dashboard/delete_zone/{{ show.id }}" class="deletebutton"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
  </div>
</section>
<!-- /.content -->

{% endblock %} {% block js %}

<script>
  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function() {
    $('.deletebutton').click(function() {
      if (!confirm('Do you want to delete')) {
        return false;
      }
    });

    $('.editzone').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
	
      $('#editname').val($.trim($('#name_' + editid).val()));
      $('#editnickname').val($.trim($('#nickname_' + editid).val()));
      $('#editflatrateprice').val($.trim($('#flatrateprice_' + editid).val()));
      $('#editoperationshrs').val($.trim($('#operationshrs_' + editid).val()));
      $('#editoperationsdays').val(
        $.trim($('#operationsdays_' + editid).val())
      );
      $('#editid').val(editid);
    });

    $('#zoneedit').validate({
      rules: {
        name: {
          required: true
        },
        nickname: {
          required: true
        },
        flatrateprice: {
          required: true,
		  digits: true
        },
        operationshrs: {
          required: true,
		  digits: true
        },
        operationsdays: {
          required: true,
		  digits: true
        }
      }
    });

    $('#zoneadd').validate({
      rules: {
        name: {
          required: true
        },
        nickname: {
          required: true,
		  
        },
        flatrateprice: {
          required: true,
		  digits: true
        },
        operationshrs: {
          required: true,
		  digits: true
        },
        operationsdays: {
          required: true,
		  digits: true
        }
      }
    });
  });

  $(document).ready(function() {
    $('#name').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 122) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#nickname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 122) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#editname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 122) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#editnickname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 120) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });
  });
</script>
<script type="text/javascript" >
	
	
     function initMap() {
	
			$(".test").each(function () {  
			
			var id = this.id;
			var splitid = id.split('_');
			var editid = splitid[1];

			address=document.getElementById('address_'+editid).value;
	
		 var map = new google.maps.Map(document.getElementById('map_'+editid), {
				  center: {lat: -34.397, lng: 150.644},
				  zoom: 8
				});
			
			var geocoder = new google.maps.Geocoder();

			geocodeAddress(geocoder, map,address);
			
			
			
			 var drawingManager = new google.maps.drawing.DrawingManager({
			  drawingMode: google.maps.drawing.OverlayType.MARKER,
			  drawingControl: true,
			  drawingControlOptions: {
				position: google.maps.ControlPosition.TOP_CENTER,
				drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
			  },
			  markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
			  circleOptions: {
				fillColor: '#00000059',
				fillOpacity: 1,
				strokeWeight: 5,
				clickable: false,
				editable: true,
				zIndex: 1
			  }
			});
			
			drawingManager.setMap(map);
			
			
		});	
		


       
		
		
		
		
	}
		
	  
	  
	  
      
	  
	
	  function geocodeAddress(geocoder, resultsMap,address) {
        var address = address;
		
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
	  
    </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVvDxJM1uepF2cBfFn4D7AzMAZFwObnbY&libraries=drawing&callback=initMap">
    </script>
{% endblock %}
