{% extends 'dashboard/base.html' %} {% load static %} {% block title %} Add Zone
User {% endblock %} {% block head %} {% endblock %} {% block content %}

<section class="content container-fluid">
  <!--  <div class="alert alert-danger text-center" role="alert" style="display: none;">
    </div> -->
  {% if messages %} {% for message in messages %}
  <div
    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <div class="manage_admin">
    <div class="d-flex justify-content-between mb-3">
      <h3>Zone List</h3>
     <div class="d-flex">
      <input type='text' id='search' class="mr-2 form-control" placeholder='Search Text'>
      <a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalRegisterForm"
        >+ New Zone</a
      >
      </div>
    </div>

    <div
      class="modal fade"
      id="modalRegisterForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <h4 class="text-center">New Zone</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form
              action="{% url 'dashboard:add_zone' %}"
              method="post"
              id="zoneadd"
            >
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="name"
                    >Name</label
                  > -->
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Name"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="nickname"
                    >Nickname</label
                  > -->
                  <input
                    type="text"
                    id="nickname"
                    name="nickname"
                    placeholder="Nickname"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="flatrateprice"
                    >Flat Rate Price</label
                  > -->
                  <input
                    type="text"
                    id="flatrateprice"
                    name="flatrateprice"
                    placeholder="Flat Rate Price"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationshrs"
                  >
                    Operations hrs.</label
                  > -->
                  <input
                    type="text"
                    id="operationshrs"
                    name="operationshrs"
                    placeholder="Operations hrs."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationsdays"
                  >
                    Operations days.</label
                  > -->
                  <input
                    type="text"
                    id="operationsdays"
                    name="operationsdays"
                    placeholder="Operations days."
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Save Zone"
                  />
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit_Modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="form-card">
            <div class="">
              <button
                type="button"
                class="close cus-modal-crose"
                data-dismiss="modal"
              >
                &times;
              </button>
              <h4 class="text-center">Edit Zone</h4>
            </div>
            <form action="/dashboard/edit_zone/" method="post" id="zoneedit">
              {% csrf_token %}
              <div class="modal-body form-row">
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="name"
                    >Name</label
                  > -->
                  <input
                    type="text"
                    id="editname"
                    name="name"
                    placeholder="Name"
                    class="form-control validate"
                  />
                  <input
                    type="hidden"
                    id="editid"
                    name="editid"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label data-error="wrong" data-success="right" for="nickname"
                    >Nickname</label
                  > -->
                  <input
                    type="text"
                    id="editnickname"
                    name="nickname"
                    placeholder="Nickname"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="flatrateprice"
                    >Flat Rate Price</label
                  > -->
                  <input
                    type="text"
                    id="editflatrateprice"
                    name="flatrateprice"
                    placeholder="Flat Rate Price"
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationshrs"
                  >
                    Operations hrs.</label
                  > -->
                  <input
                    type="text"
                    id="editoperationshrs"
                    name="operationshrs"
                    placeholder="Operations hrs."
                    class="form-control validate"
                  />
                </div>
                <div class="md-form col-md-12">
                  <!-- <label
                    data-error="wrong"
                    data-success="right"
                    for="operationsdays"
                  >
                    Operations days.</label
                  > -->
                  <input
                    type="text"
                    id="editoperationsdays"
                    name="operationsdays"
                    placeholder="Operations days."
                    class="form-control validate"
                  />
                </div>
                <div class="col-md-12">
                  <input
                    type="submit"
                    class="register-user w-100 text-center btn btn-danger"
                    value="Edit Zone"
                  />
                  <!-- <button
                    type="button"
                    class="btn primary-btn primary-btn-sec-col"
                    data-dismiss="modal"
                  >
                    Close
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <!-- delete modal start-->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center delete-modal">
        <div class="modal-body h4">
         Are you sure you want to delete this Vehicle?
        </div>
        <div class="pb-3">
          <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>
          <button  class="btn btn-dark btn-rounded"
          >Yes, Delete</button>
        </div>
        </div>
      </div>
      </div>
    <!-- delete modal end -->
    <!-- delete modal1 start-->
    <div class="modal fade" id="deletemodal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center delete-modal">
        <div class="modal-body h4">
         Are you sure you want to delete Shapes?
        </div>
        <div class="pb-3">
          <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal">Nevermind</button>
          <button class="btn btn-dark btn-rounded">Yes, Delete</button>
        </div>
        </div>
      </div>
      </div>
    <!-- delete modal1 end -->
    

    <!-- save modal start-->
<div class="modal" id="savemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content text-center delete-modal">
		<div class="modal-body h4">
		 Save Successfuly.
		</div>
		<div class="pb-3">
      <button type="button" class="btn btn-danger btn-rounded mr-2" data-dismiss="modal" onclick="document.getElementById('savemodal').classList.remove('show')">Ok</button>
		</div>
	  </div>
	</div>
  </div>
<!-- save end -->



    <div class="row">
      {% for show in zone %}
      <div class="col-md-6 zone-box-col">
        <div class="zone-box">
          
			
				<input
						type="hidden"
						id="name_{{ show.id }}" value="{{show.name}}"
						name="name"
						class="form-control validate"
					  />
			
		  <input
                    type="hidden"
                    id="nickname_{{ show.id }}"
                    name="nickname" value="{{show.nickname}}"
                    class="form-control validate"
                  />
				  <input
                    type="hidden"
                    id="flatrateprice_{{ show.id }}"
                    name="flatrateprice" value="{{show.flatrateprice}}"
                    class="form-control validate"
                  />
				  <input
                    type="hidden"
                    id="operationshrs_{{ show.id }}"
                    name="operationshrs"  value="{{show.operationshrs}}"
                    class="form-control validate"
                  />
				  <input
                    type="hidden"
                    id="operationsdays_{{ show.id }}"
                    name="operationsdays"  value="{{show.operationsdays}}"
                  />
			<div class='content1'>

			<h3 class="zone-title">{{ show.name }}</h3>
			<div class="map" id="map_{{ show.id }}"></div>
			
			
          <div class="zone-footer text-right">
            <!-- <a
      href="/dashboard/delete_zone/{{ show.id }}"
      class="deletebutton btn btn-dark btn-rounded"
      ><i class="fa fa-trash"></i></a> -->
           <button class="btn btn-danger"  data-toggle="modal" data-target="#deletemodal"><i class="fa fa-trash"></i></button>
            <button
              type="button"
              class="btn btn-primary editzone"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
          </div>
      </div>
      <div class="zone-footer1">
        <b>Shape Menus</b>
				<input id="address_{{ show.id }}" type="hidden" class="test" value="{{ show.name }}" >
				<button id="save_encoded_{{ show.id }}" / class="btn btn-success mr-3"><i class="fa fa-save"></i></button>
        <!-- <button id="deleteencoded_{{ show.id }}" class="deletedata btn btn-danger" /><i class="fa fa-trash"></i></button> -->
         <button class="btn btn-danger"  data-toggle="modal" data-target="#deletemodal1"><i class="fa fa-trash"></i></button>
				<input id="data_{{ show.id }}"  class="d-none"  value=""  style="width:100%" readonly/>
			</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- <table border="1" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Nickname</th>
          <th>Flat Rate Price</th>
          <th>Operations hrs.</th>
          <th>Operations days.</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for show in zone %}
        <tr>
          <td id="id_{{ show.id }}">{{ forloop.counter }}</td>
          <td id="name_{{ show.id }}">
            <iframe
              width="100%"
              height="450"
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAVvDxJM1uepF2cBfFn4D7AzMAZFwObnbY
    &q={{ show.name }}"
              allowfullscreen
            >
            </iframe
            >{{ show.name }}
          </td>
          <td id="nickname_{{ show.id }}">{{ show.nickname }}</td>
          <td id="flatrateprice_{{ show.id }}">{{ show.flatrateprice }}</td>
          <td id="operationshrs_{{ show.id }}">{{ show.operationshrs }}</td>
          <td id="operationsdays_{{ show.id }}">{{ show.operationsdays }}</td>
          <td>
            <button
              type="button"
              class="primary-btn page-sec-edt-btn editzone"
              id="edit_{{ show.id }}"
              data-toggle="modal"
              data-target="#edit_Modal"
            >
              <i class="fa fa-edit"></i>
            </button>
            <a href="/dashboard/delete_zone/{{ show.id }}" class="deletebutton"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
  </div>
</section>
<!-- /.content -->

{% endblock %} {% block js %}
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&amp;libraries=drawing,geometry&amp;.js&key=AIzaSyAVvDxJM1uepF2cBfFn4D7AzMAZFwObnbY"></script>
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>
<script>


 $('.deletedata').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
	
	  
		$.ajax({

				type: "POST",
				url: "http://18.219.21.110:8000/deletemapshape",
				
				data: {
				
				
				"id" :editid,
				},
				
				dataType: "json",
				success: function(data) 
				{
					if(data.success == 0)
					{
						alert('Shapes Not Deleted.');
						location.reload();
					}
					else
					{
						alert('Shapes Deleted Sucessfully.');
						location.reload();
					}
					//alert(data.message)
				  
				},
				error: function() {
				   console.log('error handling here');
				}
			});
	
	  
	  });
  $('.delete').on('click', function() {
    window.history.back();
  });

  $(document).ready(function() {
    $('.deletebutton').click(function() {
      if (!confirm('Do you want to delete')) {
        return false;
      }
    });

    $('.editzone').click(function() {
	
      var el = this;
      var id = this.id;
      var splitid = id.split('_');
      var editid = splitid[1];
	
      $('#editname').val($.trim($('#name_' + editid).val()));
      $('#editnickname').val($.trim($('#nickname_' + editid).val()));
      $('#editflatrateprice').val($.trim($('#flatrateprice_' + editid).val()));
      $('#editoperationshrs').val($.trim($('#operationshrs_' + editid).val()));
      $('#editoperationsdays').val(
        $.trim($('#operationsdays_' + editid).val())
      );
      $('#editid').val(editid);
    });

    $('#zoneedit').validate({
      rules: {
        name: {
          required: true
        },
        nickname: {
          required: true
        },
        flatrateprice: {
          required: true,
		  digits: true
        },
        operationshrs: {
          required: true,
		  digits: true
        },
        operationsdays: {
          required: true,
		  digits: true
        }
      }
    });

    $('#zoneadd').validate({
      rules: {
        name: {
          required: true
        },
        nickname: {
          required: true,
		  
        },
        flatrateprice: {
          required: true,
		  digits: true
        },
        operationshrs: {
          required: true,
		  digits: true
        },
        operationsdays: {
          required: true,
		  digits: true
        }
      }
    });
  });

  $(document).ready(function() {
    $('#name').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 122) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#nickname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 122) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#editname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 122) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });

    $('#editnickname').keypress(function(event) {
      var inputValue = event.charCode;
      if (
        !(inputValue >= 65 && inputValue <= 120) &&
        inputValue != 32 &&
        inputValue != 0
      ) {
        event.preventDefault();
      }
    });
  });
  
  $(document).ready(function(){
 $('#search').keyup(function(){
 
  // Search text
  var text = $(this).val();
 
  // Hide all content class element
  $('.zone-box-col').hide();

  // Search 
  $('.zone-box-col .content1:contains("'+text+'")').closest('.zone-box-col').show();
 
 });
});

	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
	  return function( elem ) {
	   return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
	  };
});
</script>
<script type="text/javascript" >
	
	
   /*  function initMap() {
	
			$(".test").each(function () {  
			
			var id = this.id;
			var splitid = id.split('_');
			var editid = splitid[1];

			address=document.getElementById('address_'+editid).value;
	
		 var map = new google.maps.Map(document.getElementById('map_'+editid), {
				  center: {lat: -34.397, lng: 150.644},
				  zoom: 8
				});
			
			var geocoder = new google.maps.Geocoder();

			geocodeAddress(geocoder, map,address);
			
			
			
			 var drawingManager = new google.maps.drawing.DrawingManager({
			  drawingMode: google.maps.drawing.OverlayType.MARKER,
			  drawingControl: true,
			  drawingControlOptions: {
				position: google.maps.ControlPosition.TOP_CENTER,
				drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
			  },
			  markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
			  circleOptions: {
				fillColor: '#00000059',
				fillOpacity: 1,
				strokeWeight: 5,
				clickable: false,
				editable: true,
				zIndex: 1
			  }
			});
			
			drawingManager.setMap(map);
			
			
		});	
		


       
		
		
		
		
	}
		
	  
	  
	  
      
	  
	
	  function geocodeAddress(geocoder, resultsMap,address) {
        var address = address;
		
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
	  */
	  
	  
	  function initialize()
{

	$(".test").each(function () { 
	
	
		
		var id = this.id;
		var splitid = id.split('_');
		var editid = splitid[1];

		address=document.getElementById('address_'+editid).value;


   
		var goo             = google.maps,
			map_in          = new goo.Map(document.getElementById('map_'+editid), 
										  { zoom: 12, 
											center: new goo.LatLng(32.344, 51.048)
										  }),
		  
			shapes          = [],
			selected_shape  = null,
			drawman         = new goo.drawing.DrawingManager({map:map_in}),
			byId            = function(s){return document.getElementById(s)},
			clearSelection  = function(){
								if(selected_shape){
								  selected_shape.set((selected_shape.type
													  ===
													  google.maps.drawing.OverlayType.MARKER
													 )?'draggable':'editable',false);
								  selected_shape = null;
								}
							  },
			setSelection    = function(shape){
								clearSelection();
								selected_shape=shape;
								
								  selected_shape.set((selected_shape.type
													  ===
													  google.maps.drawing.OverlayType.MARKER
													 )?'draggable':'editable',true);
								  
							  },
			clearShapes     = function(){
								for(var i=0;i<shapes.length;++i){
								  shapes[i].setMap(null);
								}
								shapes=[];
							  };


		goo.event.addListener(drawman, 'overlaycomplete', function(e) {
			var shape   = e.overlay;
			shape.type  = e.type;
			goo.event.addListener(shape, 'click', function() {
			  setSelection(this);
			});
			setSelection(shape);
			shapes.push(shape);
		  });

		goo.event.addListener(map_in, 'click',clearSelection);
		
		
		
			$('#save_encoded_' +editid).click( function(){
			
			 var data1=IO.IN(shapes,true);byId('data_' +editid).value=JSON.stringify(data1);
			   console.log(data1);
			   $.ajax({
				
				
				 
			  
					type: "POST",
					url: "http://18.219.21.110:8000/savemap",
					
					data: {
					
					"data":document.getElementById('data_' +editid).value,
					"id" :editid,
					},
					
					dataType: "json",
					success: function(data) 
					{
						if(data.success == 0)
						{
							alert('Please draw shape on map.')
						}
						else
						{
							alert('Save Sucessfully.')
    
              // document.getElementById('savemodal').classList.add("show");    
						}
						//alert(data.message)
					  
					},
					error: function() {
					   //console.log('error handling here');
					}
				});
			   
			});

			

			 $.ajax({
            
    
				type: "POST",
				url: "http://18.219.21.110:8000/getmapdata",
				
				data: {
				
				"data":editid,

				},
				
				dataType: "json",
				success: function(data) 
				{
					console.log(data)

					if(this.shapes){
						for(var i=0;i<this.shapes.length;++i){
							  this.shapes[i].setMap(null);
						}
					  }
					  this.shapes=IO.OUT(JSON.parse(data),map_in);
				  
				},
				error: function() {
				   console.log('error handling here');
				}
			});

		
				
				var geocoder = new google.maps.Geocoder();

				geocodeAddress(geocoder, map_in,address);
				function geocodeAddress(geocoder, resultsMap,address) {
				var address = address;
				
				geocoder.geocode({'address': address}, function(results, status) {
				  if (status === 'OK') {
					resultsMap.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
					  map: resultsMap,
					  position: results[0].geometry.location
					});
				  } else {
					alert('Geocode was not successful for the following reason: ' + status);
				  }
				});
			  }
  
    });



}



var IO={
  //returns array with storable google.maps.Overlay-definitions
  IN:function(arr,//array with google.maps.Overlays
              encoded//boolean indicating whether pathes should be stored encoded
              ){
      var shapes     = [],
          goo=google.maps,
          shape,tmp;
      
      for(var i = 0; i < arr.length; i++)
      {   
        shape=arr[i];
        tmp={type:this.t_(shape.type),id:shape.id||null};
        
        
        switch(tmp.type){
           case 'CIRCLE':
              tmp.radius=shape.getRadius();
              tmp.geometry=this.p_(shape.getCenter());
            break;
           case 'MARKER': 
              tmp.geometry=this.p_(shape.getPosition());   
            break;  
           case 'RECTANGLE': 
              tmp.geometry=this.b_(shape.getBounds()); 
             break;   
           case 'POLYLINE': 
              tmp.geometry=this.l_(shape.getPath(),encoded);
             break;   
           case 'POLYGON': 
              tmp.geometry=this.m_(shape.getPaths(),encoded);
              
             break;   
       }
       shapes.push(tmp);
    }

    return shapes;
  },
  //returns array with google.maps.Overlays
  OUT:function(arr,//array containg the stored shape-definitions
               map//map where to draw the shapes
               ){
      var shapes     = [],
          goo=google.maps,
          map=map||null,
          shape,tmp;
      
      for(var i = 0; i < arr.length; i++)
      {   
        shape=arr[i];       
        
        switch(shape.type){
           case 'CIRCLE':
              tmp=new goo.Circle({radius:Number(shape.radius),center:this.pp_.apply(this,shape.geometry)});
            break;
           case 'MARKER': 
              tmp=new goo.Marker({position:this.pp_.apply(this,shape.geometry)});
            break;  
           case 'RECTANGLE': 
              tmp=new goo.Rectangle({bounds:this.bb_.apply(this,shape.geometry)});
             break;   
           case 'POLYLINE': 
              tmp=new goo.Polyline({path:this.ll_(shape.geometry)});
             break;   
           case 'POLYGON': 
              tmp=new goo.Polygon({paths:this.mm_(shape.geometry)});
              
             break;   
       }
       tmp.setValues({map:map,id:shape.id})
       shapes.push(tmp);
    }
    return shapes;
  },
  l_:function(path,e){
    path=(path.getArray)?path.getArray():path;
    if(e){
      return google.maps.geometry.encoding.encodePath(path);
    }else{
      var r=[];
      for(var i=0;i<path.length;++i){
        r.push(this.p_(path[i]));
      }
      return r;
    }
  },
  ll_:function(path){
    if(typeof path==='string'){
      return google.maps.geometry.encoding.decodePath(path);
    }
    else{
      var r=[];
      for(var i=0;i<path.length;++i){
        r.push(this.pp_.apply(this,path[i]));
      }
      return r;
    }
  },

  m_:function(paths,e){
    var r=[];
    paths=(paths.getArray)?paths.getArray():paths;
    for(var i=0;i<paths.length;++i){
        r.push(this.l_(paths[i],e));
      }
     return r;
  },
  mm_:function(paths){
    var r=[];
    for(var i=0;i<paths.length;++i){
        r.push(this.ll_.call(this,paths[i]));
        
      }
     return r;
  },
  p_:function(latLng){
    return([latLng.lat(),latLng.lng()]);
  },
  pp_:function(lat,lng){
    return new google.maps.LatLng(lat,lng);
  },
  b_:function(bounds){
    return([this.p_(bounds.getSouthWest()),
            this.p_(bounds.getNorthEast())]);
  },
  bb_:function(sw,ne){
    return new google.maps.LatLngBounds(this.pp_.apply(this,sw),
                                        this.pp_.apply(this,ne));
  },
  t_:function(s){
    var t=['CIRCLE','MARKER','RECTANGLE','POLYLINE','POLYGON'];
    for(var i=0;i<t.length;++i){
       if(s===google.maps.drawing.OverlayType[t[i]]){
         return t[i];
       }
    }
  }
  
}
google.maps.event.addDomListener(window, 'load', initialize);

    </script>


{% endblock %}
