.errors {
    font-size: 13px;
    margin-bottom: 2px;
    color: red;
    font-weight: 700;
}
.space-two a {
	margin-right: 20px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}
ul.mg_top_ic li {
    display: inline-block;
    padding: 2px 7px;
    background-color: #cdcdcd;
    margin: 0 4px;
}

.image_id {
	color: #117ad3;
}
.box.box-primary {
    border-top-color: #3c8dbc;
    margin-top: 32px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}