@import url('https://fonts.googleapis.com/css?family=Marcellus&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: OpenSans, sans-serif !important;*/
  font-family: 'Marcellus', serif;
  background: #0c1923 !important;
}
button {
  border: 1px solid #fff;
  color: #fff !important;
  padding: 14px 40px !important;
  box-shadow: 0px 0px 3px 0px #fff;
  background: #00000099;
  transition: 0.2s linear !important;
}
button:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
span.win {
  color: #6ba200 !important;
  font-weight: bold;
}
span.loss {
  font-weight: bold;
  color: #d80404 !important;
}

.bor_bottom {
  border-bottom: 1px solid #5f5f5f !important;
}
.bor_right {
  border-right: 1px solid #5f5f5f !important;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a,
li {
  color: unset;
  list-style: none;
  text-decoration: none;
}
img {
  width: 100%;
}
nav.web-nab {
  background: #0a0e17;
  color: #fff;
  /* position: fixed; */
  width: 100%;
  z-index: 9;
}

/************** Add to cart fixed Start*****************/
.cart_fixed {
  padding: 6px 12px !important;
  position: relative;
  font-size: 18px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.cart_fixed i {
  position: relative;
  font-size: 30px;
  vertical-align: inherit;
}
.cart_fixed span {
  border-radius: 50px;
  height: 20px;
  width: 20px;
  position: absolute !important;
  background-color: #f68b1f;
  top: 3px !important;
}
.cart_icon_fixed {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 130px;
}
.store_data .close {
  cursor: pointer;
}
/************** Add to cart fixed End *****************/
.megamenu-li {
  position: static;
}

.megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}
.navbar .dropdown-menu div[class*='col'] {
  margin-bottom: 1rem;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #0a0e17 !important;
}

li.dropdown.user.user-menu ul.dropdown-menu {
  top: 100% !important;
}

.w-100 {
  width: 100%;
}

.btn {
  padding: 6px 12px !important;
}

.card-header {
  padding: 20px;
}

.driver-card,
.form-card {
  background: rgb(110, 191, 211);
  background: linear-gradient(
    66deg,
    rgba(110, 191, 211, 1) 0%,
    rgba(116, 195, 187, 1) 35%,
    rgba(123, 194, 155, 1) 100%
  );
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row > div {
  float: initial !important;
}

.form-row .form-control {
  margin-bottom: 10px !important;
}

.form-card {
  padding: 30px !important;
}

.user-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 31px;
  border-radius: 50%;
  height: 70px;
  border: 1px solid #000;
  width: 70px;
  position: relative;
}

.text-light {
  color: #fff !important;
}

.card-footer {
  padding: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.btn-secondary {
  background-color: #969494 !important;
  border-color: #969494 !important;
  color: #fff !important;
}

.card-body {
  padding: 30px;
}

.driver-card .btn {
  padding: 7px !important;
  bottom: 0px;
  color: #000 !important;
  font-size: 18px;
  border-radius: 50%;
  background-color: #ffff;
}

.user-icon-box .btn {
  bottom: 0px;
  right: -13px;
  position: absolute;
  pointer-events:none;
}

.driver-card table tr {
  display: flex;
}

.driver-card table th,
.driver-card table td {
  padding: 10px;
  width: 100%;
}

.table-responsivemk, #table_id_wrapper >.row>.col-sm-12{
  width: 100%;
  overflow: auto;
  padding:0;
}

.driver-table {
    min-width: 1120px;
}

h3.zone-title {
    background-color: #76c3b3;
    margin: 0;
    font-size: 28px;
    padding: 20px;
    color: #fff;
}
.zone-box{
	position:relative;
	margin-bottom: 30px;
}

.zone-footer{
	padding:10px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

button.close {
    top: 0;
    right: 0;
    padding: 20px !important;
}

.shadow-box {
    padding: 20px;
    box-shadow: 0 0 12px 3px #0003;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 4px;
}

.shadow-box>h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
	line-height:normal;
}

.shadow-box>.number {
    font-size: 45px;
    margin: 10px 0;
    font-weight: bold;
	line-height:normal;
}

.shadow-box>.days {
    font-size: 16px;
	line-height:normal;
}

.user-list-table {
    min-width: 1290px;
}

.sidebar-collapse a.logo.bg-primary img{
	display:none;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 117px;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .web-nab a:hover {
    color: #a2a2a2;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
.web-logo img {
  width: 94px;
}
section.home-banner {
  background: url(../images/home-banner.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.cover-gradient-bottom {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  height: 40%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(40, 44, 56, 0)),
    color-stop(55%, rgba(14, 27, 37, 0.1)),
    to(#0c1923)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(40, 44, 56, 0),
    rgba(25, 28, 35, 0.61) 55%,
    #0c1923
  );
}
.overvlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section.freature-game h2 {
  font-size: 36px;
}
.banner-tittle {
  /* position: absolute; */
  /* transform: translate(-500%, -50%); */
  /* top: 93%; */
  /* left: 50%; */
  padding: 160px 0;
}
.hm-bnr-title {
  position: relative;
  /*height: 100vh;
    margin-top: 119px;*/
}
.banner-tittle h1 {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 4px #fff;
}
.creat-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-bg {
  padding: 0 47px;
}
@media (min-width: 1200px) {
  li.nav-item {
    padding: 0 42px;
  }
}
@media (max-width: 1199px) {
  li.nav-item {
    padding: 0 9px;
  }
}
.other_pages_search {
  position: fixed;
  width: 100%;
  top: 123px;
  z-index: 99;
}
.other_pages_search form {
  width: 50%;
  margin: 0 auto;
}
.other_pages_search .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #fff0;
  background-clip: padding-box;
  border-bottom: 1px solid #ffffff !important;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none;
  box-shadow: 0px 20px 43px #000000c4;
}
.other_pages_search .form-control:focus {
  color: #ffffff;
  background-color: #0000;
  border-color: #0000;
  outline: 0;
  box-shadow: none;
  border-bottom: 2px solid #476bd8 !important;
}
.mob-nav a.nav-link {
  color: #fff !important;
}
nav.mob-nav {
  background: linear-gradient(90deg, #04090f 48%, #0b1016 35%, #0f161c 100%);
}
button.hm-joinnow {
  background: #0000;
  border: 1px solid #1c980d;
  padding: 14px 46px;
  color: #25bf12;
  margin-top: 26px;
}
/*featured game css*/
section.freature-game {
  color: #fff;
  padding: 0px 0 90px;
}
h2.all-head.text-center {
  font-size: 46px;
  font-weight: 500;
}
.first-h-box {
  position: relative;
  cursor: pointer;
  perspective: 500px;
  overflow: hidden;
}
.src-sub-item {
}
.first-h-box:hover .mask {
  transform: translate(-50%, -50%) rotateY(0deg);
  opacity: 1;
}
.first-h-box .mask {
  width: 100%;
  height: 100%;
  padding: 5% 8%;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  text-align: center;
  /* transform: translate(-50%, -50%) rotateY(90deg); */
  transform-origin: 50%;
  background: rgba(23, 23, 23, 0.92);
  opacity: 0;
  transition: all 0.4s ease-in;
  color: #fff;
}
.src-inner-item img {
  height: 302px;
  object-fit: cover;
  min-height: 300px;
  max-height: 302px;
}
/*commuinity slider*/
.carousel {
  background: #007aeb;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width: 100%;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
  display: block;
  width: 100%;
}
.wtp-1 {
  background: #0000008f;
  padding: 20px 39px;
}
.slider-btn {
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 40px;
  box-shadow: 0px 0px 3px 0px #fff;
  background: #00000059;
}
.htd-icon img {
  width: 55px;
  margin: 0 auto;
}
.crrl-innr .carousel-caption {
  position: absolute;
  right: 15%;
  top: 10% !important;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.htd-icon {
  background: #000000c7;
  padding: 26px 8px;
  height: 195px;
}
.middle-text {
  padding: 126px 0;
}
h2.slider-heading {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
h2.slider-heading:before {
  content: '';
  position: absolute;
  border-bottom: 4px solid #1bff61;
  width: 103px;
  bottom: -11px;
  left: 46%;
}
.back-clr {
  padding: 55px 32px;
  background: #00000078;
}
/*featured tournamnet*/
#weekly-top {
  padding-top: 60px;
  background: url(../images/skull.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section-title-two {
  text-align: center;
  margin-bottom: 60px;
}
.section-title-two .title {
  font-size: 30px;
  line-height: 25px;
  color: #dedede;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.top-news {
  margin-bottom: 30px;
}
.feature-image {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.top-news .cat-two {
  margin-top: 5px;
}
.cat-two {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cat-two li {
  display: inline-block;
}
.cat-two li a {
  color: #888;
  text-transform: uppercase;
}
.top-news .blog-title {
  font-size: 18px;
  line-height: 25px;
}
.blog-title {
  color: #fff;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.blog-title a {
  color: #ddd;
}
.top-mews-feature {
  border: 1px solid #1f1f31;
  position: relative;
}
.top-mews-feature .feature-image {
  position: relative;
}
.top-mews-feature .feature-image img {
  max-width: 100%;
  height: 945px;
  object-fit: cover;
}
.top-mews-feature .feature-image .cat {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.cat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cat li a {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
  margin-right: 10px;
}
.cat li {
  display: inline-block;
}
.top-mews-feature .blog-content {
  padding: 20px;
  background: #171717;
  color: #fff;
}
.top-mews-feature .blog-content .blog-title {
  font-size: 30px;
  line-height: 40px;
  margin: 0;
}
.blog-title a span {
  color: #f68b1f;
}
.meta.meta-grey li a {
  color: #888;
}

.meta li a.admin {
  font-weight: 600;
  margin-right: 5px;
  position: relative;
}
blog-content .content {
  font-size: 16px;
  line-height: 28px;
}
.meta li {
  margin-right: 10px;
}
.fetu-2 .feature-image img {
  height: 180px;
  max-height: 180px;
  min-height: 180px;
  object-fit: cover;
}
sapn.map-svg svg {
  width: 19px;
}
ul.meta.side-svg {
  display: flex;
}
li.tournament-svg svg {
  width: 36px;
}
.time-count ul li {
  display: inline-block;
}
.time-count ul {
  display: inline-block;
  background: #000;
  padding: 5px 20px;
  color: #fff;
}
.time-count {
  position: absolute;
  z-index: 99;
  right: 9px;
  top: 9px;
}
.other-gmimg img {
  width: 55px;
  box-shadow: 0 0 3px #fff;
}
hr.bordr {
  border-top: 1px solid rgba(249, 249, 249, 0.41);
}
.blog-content {
  background: #171717;
  color: #fff;
  padding: 14px 15px 0;
}
a.admin span {
  color: #a9a9a9;
}
a.date span {
  color: #a9a9a9;
}
/*section.player-of-the-week*/
section.player-of-the-week {
  background: linear-gradient(to right, #000002, #0f1520);
  color: #fff;
  padding: 100px 0;
}
p.member-since {
  color: #c7c7c7;
}
span.plyr-dt {
  color: #fff;
  font-weight: 600;
}
.potw-img img {
  width: 150px;
  float: left;
}
.what-player {
  padding: 0 16px;
  border-left: 1px solid #656161;
}
/*footer*/
.footer-newsletter input {
  padding: 6px 11px;
  border: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.footer-newsletter .tim-btn-bg {
  background-color: #f68b1f;
  /* padding: 7px; */
  padding: 6px 11px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: -4px;
}
.footer-newsletter input:focus {
  outline: 0;
}
#footer-three {
  padding: 100px 0 30px;
  background-size: cover;
  position: relative;
  background: #0b0d14;
}
.footer-inner {
  position: relative;
  z-index: 1;
}
.footer-title {
  color: #dedede;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.footer-about p {
  color: #cecece;
}
.footer-about .footer-social-link {
  margin-top: 50px;
}
.footer-social-link {
  margin: 20px 0 30px;
  padding: 0;
  list-style: none;
}
.footer-social-link li.fb-bg {
  background-image: url(../../media/footer/2.png);
}
.footer-social-link li {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease-in-out;
}
.footer-social-link li i {
  color: #fff;
}
.footer-social-link li.in-bg {
  background-image: url(../../media/footer/3.png);
}
.footer-social-link li.tw-bg {
  background-image: url(../../media/footer/4.png);
}
.footer-social-link li.gp-bg {
  background-image: url(../../media/footer/5.png);
}
.footer-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-menu-list li {
  border-bottom: 1px solid #262626;
}
.footer-menu-list li a {
  color: #cecece;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  display: block;
}
#footer-three .copy-right {
  border: 0;
  padding: 0;
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #1d1d1d;
}
.copy-right p {
  margin-bottom: 0;
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.copy-right p a {
  color: #f68b1f;
}
.copy-right {
  padding: 20px 0;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  text-align: center;
}
section#weekly-top a {
  color: #fff;
}
.web-nab a {
  color: #fff;
}
.htd-icon h3 {
  font-size: 20px;
}
.ddrp-all-game .src-inner-item img {
  height: 237px;
  object-fit: cover;
  min-height: 199px;
  max-height: 204px;
}
/************** inner game page ****************/
.inner_bg_img img {
  height: 500px;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
}
.inner_page .inner_bg_img {
  /*background: url(../images/slider-2.jpg);*/
  /*height: 100vh;*/
  position: relative;
  height: 500px;
}
.poster_img img {
  min-height: 200px;
  /*width: 200px; */
  object-fit: cover;
  height: 100%;
  border: 2px solid #757575;
}
.poster_descrip h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
}
.poster_descrip h4 {
  color: #f7f7f7;
  font-weight: 400;
}
.poster_tabs img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.poster_tabs nav .nav-tabs {
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 50px;
  padding: 4px 17px;
  border: 0;
}
.poster_tabs nav .nav-tabs .nav-item {
  border-radius: 50px;
  color: #fff;
  margin-bottom: 0;
  margin-right: 14px;
}
.poster_tabs nav .nav-tabs .nav-item:hover {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.poster_tabs nav .nav-tabs .nav-item:focus {
  border: 0;
  color: #fff;
  background-color: transparent;
  outline: 0;
}
.poster_tabs nav .nav-tabs .nav-item:active {
  background-color: transparent;
  border: 0;
}
.poster_tabs .badge {
  border-radius: 50%;
  margin-left: 12px;
  vertical-align: middle;
}
.poster_tabs .flex_tabs {
  background-color: rgba(2, 2, 2, 0.5);
}
.poster_tabs .flex_tabs a {
  color: #fff;
  padding: 12px 80px;
}
.poster_tabs .flex_tabs a.active {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 80px;
}
.ladder_img svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.p_dropdown button {
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 40px;
  box-shadow: 0px 0px 3px 0px #fff;
  background: #00000059;
  transition: 0.2s linear;
}
.p_dropdown button:hover {
  /*background-color: #ff0000 !important;*/
  color: #fff;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.p_dropdown button:focus {
  box-shadow: none;
  border: 0;
}
.p_dropdown .dropdown-menu {
  background-color: #000;
}
.p_dropdown .dropdown-menu a {
  color: #fff;
}
.p_dropdown .dropdown-menu a:hover {
  background-color: #525252;
}
.pc_icon svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.black_shadow {
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 10px;
  padding: 36px 42px;
}
.ladder_sec {
  border-right: 1px solid #fff;
}
.ladder_sec .ladder_icon img {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  padding: 7px;
}
.ladder_sec .ladder_icon span {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  vertical-align: middle;
  margin-left: 21px;
}
.ladder_sec button {
  border: 1px solid #fff;
  color: #fff;
  padding: 14px 40px;
  box-shadow: 0px 0px 3px 0px #fff;
  background: #00000059;
  transition: 0.2s linear;
}
.ladder_sec button:hover {
  color: #fff;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.ladder_sec button span {
  border-radius: 50px;
  margin-left: 10px;
}
.player_week {
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 10px;
  padding: 12px 13px;
}
.player_week h4 {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
}
.player_week .border-bottom {
  border-bottom: 1px solid #ababab;
}
.player_week .blog-title {
  margin-bottom: 0;
  margin-top: -5px;
}
.player_week .blog-title a {
  font-size: 13px;
}
.player_week .blog-title a span {
  font-size: 16px;
}
.player_week_bottom img {
  width: 47px;
}
.player_week_bottom h5 {
  font-size: 18px;
}
.player_week_bottom h6 {
  color: #ccc;
}
.card_img,
.singles-player {
  background: url(../images/slider-1.jpg);
  /*height: 100vh;*/
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 33px 35px;
}
.card_ladder svg {
  width: 40px;
  height: 40px;
}
.card_img .double_heading {
  margin-top: 55px;
  width: 100%;
  background-color: #00000099;
  padding: 12px 25px;
  border-radius: 10px;
}
.card_img .double_heading h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
}
.card_img .double_heading h5 {
  font-size: 18px;
  color: #fff;
}
.card_img .double_heading h6 {
  color: #a7a4a4;
}
.total-teams .total_heading {
  margin-right: 25px;
  margin-top: 20px;
}
.singles-player {
  background: url(../images/slider-3.jpg);
}
.img_bnn {
  /* background-color: #1f1f1fc7; */
  position: absolute;
  bottom: 0;
}
.leaderank_sec h2 {
  color: #fff;
  margin-bottom: 24px;
}
.game_descrip .accordion .card-header:after {
  font-family: 'FontAwesome';
  content: '\f068';
  float: right;
  color: #fff;
}
.game_descrip .card-header.collapsed:after {
  content: '\f067';
  color: #fff;
}
.game_descrip .card {
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 10px;
}
.game_descrip .card a {
  color: #fff !important;
}
.game_descrip .card .card-body {
  padding-top: 0;
}
.game_descrip .card .card-body p {
  color: #c3c3c3;
  margin-top: 22px;
}
.game_descrip .select_div select {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 6px;
  color: #fff;
  border-radius: 10px;
  background: transparent url(../images/br_down1.png) no-repeat;
  /* background-color: #fff; */
  background-size: 33px;
  background-position: 99% center;
  -webkit-appearance: none;
  width: 100%;
}
.game_descrip .select_div select:focus {
  box-shadow: none;
  outline: 0;
}
.leader_table table {
  border-radius: 10px;
  background-color: rgba(2, 2, 2, 0.5);
}
.leader_table table thead tr th {
  border-top: 0;
  vertical-align: middle;
}
.leader_table table tbody tr {
  transition: 0.2s linear;
  cursor: pointer;
}
.leader_table table tbody tr td,
.leader_table table tbody tr th {
  vertical-align: middle;
}
.leader_table table tbody tr td:nth-child(2) img,
.leader_table table tbody tr td:nth-child(3) img {
  width: 45px;
  height: 45px;
  /*border-radius: 50%;*/
  object-fit: contain;
  margin-right: 12px;
  border-radius: 6px;
}
.leader_table table tbody tr td:nth-child(3) img {
  border-radius: 0;
  border: 0;
  width: 40px;
  height: 40px;
  /*margin-top: 9px;*/
  border-radius: 6px;
  margin-left: 5px;
}
.leader_table table tbody tr td:nth-child(4) a {
  font-size: 33px;
  color: #fff;
}
.leader_table table tbody tr:hover {
  background-color: #272727;
}
.leader_table .trophys img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.pagin_link .pagination {
  /*background-color: #00000099;*/
}
.pagin_link {
  display: flex;
  justify-content: center;
}
.pagin_link .modal-5 a {
  color: #666;
  padding: 5px 5px 5px;
  margin: 0 10px;
  position: relative;
  font-size: 18px;
}
.pagin_link .modal-5 a:hover {
  color: #fff;
  text-decoration: none;
}
.pagin_link .modal-5 a:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: #1e7ee2;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: -1;
  left: -3px;
  bottom: 4px;
  margin: auto;
}
.pagin_link .modal-5 a.next,
.modal-5 a.prev {
  color: #f1f1f1;
}
.pagin_link .modal-5 li {
  margin-top: 8px;
}
.pagin_link .modal-5 a.next:hover,
.modal-5 a.prev:hover {
  color: #fff;
}
.pagin_link .modal-5 a.next:hover:after,
.modal-5 a.prev:hover:after {
  display: none;
}
.pagin_link .modal-5 a.active {
  background: #1e7ee2;
  color: #fff;
}
.pagin_link .modal-5 a.active:before {
  content: '';
  position: absolute;
  top: -11px;
  left: -10px;
  width: 18px;
  border: 10px solid transparent;
  border-bottom: 7px solid #104477;
  z-index: -1;
}
.pagin_link .modal-5 a.active:hover:after {
  display: none;
}
.mega_dropdown img {
  width: 67%;
}
.mega_dropdown .mega_row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  /*place-content: stretch flex-start;*/
  align-items: stretch;
  max-height: 100%;
}
.mega_dropdown .mega_row .mega_one_side {
  flex: 1 1 360px;
  box-sizing: border-box;
  max-width: 360px;
  min-width: 360px;
  margin-right: 12px;
}
.mega_dropdown .mega_one_side a {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  /*place-content: stretch flex-start;*/
  align-items: stretch;
  transition: all 0.3s linear;
}
.mega_dropdown .mega_one_side a:hover {
  text-decoration: none;
  background-color: #f1f1f1;
}
.mega_dropdown .mega_one_side a:hover .mega_content h4 {
  color: #080808;
}
.mega_dropdown .mega_one_side a:hover .mega_content p.date_time {
  background: #000;
  color: #fff;
}
.mega_dropdown .mega_one_side a:hover .mega_content p.date_time span {
  background: #fff;
}
.mega_dropdown .mega_one_side a:hover .mega_content .amount_para {
  color: #7d7d7d;
}
.mega_dropdown .mega_one_side img {
  width: 140px;
  height: 203px;
  margin-right: 16px;
  object-fit: cover;
}
.mega_dropdown .mega_one_side .mega_content {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  /*place-content: flex-start space-between;*/
  align-items: flex-start;
  flex: 1 1 auto;
}
.mega_content .ps,
.mega_content .cir {
  width: 30px;
  height: 30px;
}
.mega_content .amount_para {
  color: #cecece;
}
.mega_content h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 20px;
}
.mega_content p.date_time {
  background: #fff;
  border-radius: 50px;
  font-size: 14px;
  padding: 6px 10px 0px 9px;
  /* display: block; */
  color: #000;
  margin-top: 12px;
}
.mega_content p.date_time span {
  background: #000;
  height: 13px;
  width: 12px;
  border-radius: 50px;
  display: inline-flex;
  margin-right: 7px;
}
.mega_dropdown .view_plus a:hover {
  background-color: transparent;
}
.mega_one_side .view_item {
  background-color: hsla(0, 0%, 18%, 0.5);
  padding: 86px 0px;
  text-align: center;
  color: #fff;
  width: 193px;
}
/****************** tournaments page ****************/
.poster_img {
  position: relative;
}
.poster_img .time-count {
  right: 15px;
}
.poster_img .time-count ul {
  background: hsla(0, 0%, 0%, 0.7);
}
.tourna_prize {
  color: #fff;
}
.tourna_prize span {
  color: #f33943;
}
.poster_descrip .border-bottom {
  border-bottom: 1px solid #ccc;
}
.current_div p {
  color: #fff;
}
.current_div .ps {
  width: 30px;
  height: 30px;
}
.current_div .cir {
  width: 30px;
  height: 30px;
}
.current_div .date_time {
  background: #fff;
  border-radius: 50px;
  font-size: 14px;
  padding: 2px 9px;
  /* display: block; */
  color: #000;
  margin-top: 12px;
  margin-right: 20px;
}
.current_div .date_time span {
  background: #000;
  height: 13px;
  width: 12px;
  border-radius: 50px;
  display: inline-flex;
  margin-right: 7px;
}
.current_div .country_name {
  padding: 12px 15px;
  margin-bottom: 0;
}
.current_div .game_icons {
  padding: 12px 15px;
}
.other_games img {
  /* background: url(../images/slider-3.jpg); */
  height: 314px;
  object-fit: cover;
  border: 2px solid #757575;
}
.other_gm_dtl {
  position: absolute;
  top: 60px;
  padding: 0 14px;
}
.other_games {
  position: relative;
}
.other_games .time-count {
  right: 26px;
  top: 14px;
}
.other_games .time-count ul {
  background: hsla(0, 0%, 0%, 0.7);
}
.other_games .name_sec h2 {
  font-size: 22px;
}
.name_sec .poster_descrip {
  margin-left: 12px;
}
.name_sec .poster_descrip h4 {
  font-size: 15px;
}
.name_sec .tourna_prize {
  font-size: 15px;
}
.mix_album_div img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.other_games .current_div .date_time {
  font-size: 11px;
  margin-bottom: 8px;
}
.other_games .current_div .date_time span {
  vertical-align: text-bottom;
}
.other_games .current_div .game_icons {
  padding: 9px 15px;
}

.fixed_matches a {
  color: #fff;
}
.fixed_matches a:hover {
  text-decoration: none;
}
.fixed_matches a .toura_row_bg {
  transition: all 0.3s linear;
}
.fixed_matches a:hover .toura_row_bg {
  text-decoration: none;
  background-color: #d8d8d8;
  color: #000;
}
.tour_heading img {
  width: 30px;
  height: 30px;
  /*background-color: #fff;*/
  border-radius: 50px;
  /*padding: 12px 5px;*/
}
.tour_heading span {
  font-size: 23px;
  color: #fff;
}
.toura_row_bg {
  background-color: #383838;
  border-radius: 10px;
}
.toura_sm_img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.team_detail {
  text-align: center;
}
.team_detail h5 {
  font-size: 13px;
}
.team_detail h6 {
  font-size: 20px;
}
.trophys img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  padding: 6px;
}

.trophys span {
  color: #fff;
  margin: 0 25px 0 8px;
}
.leader_table th:nth-child(3) select {
  background: transparent;
  color: #fff;
  font-weight: bold;
  border: 0;
  background: transparent url(../images/white_drop.png) no-repeat;
  background-size: 14px;
  background-position: 100% center;
  -webkit-appearance: none;
  width: 156px;
}
.leader_table th:nth-child(3) select:focus {
  outline: 0;
}
/********** tournament overview **********/
.tournament_info nav {
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 8px;
}
.tournament_info nav .nav-item {
  padding: 12px 10px;
}
.tournament_info nav .nav-pills .nav-link.active {
  background-color: transparent;
  border-right: 2px solid #fb9700;
  border-radius: 0;
}
.tournament_info .nav-pills .nav-link {
  color: #828282;
  /*border-right: 2px solid #585858;*/
  border-radius: 0;
}
.tournament_info .overview_decrip {
  background-color: hsla(206, 1%, 2%, 0.5);
  border-radius: 10px;
}
.tournament_info .matches_name img {
  height: 35px;
  width: 35px;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
}
.tournament_info .matches_name h4 {
  color: #fff;
  font-size: 18px;
}
.tournament_info .matches_name h4 span {
  color: #ccc;
  font-size: 13px;
}
.tournament_info .matches_flag li {
  width: 26px;
}
.overview_decrip {
  margin: 12px 0 45px;
}
.prize_detail {
  padding: 34px 20px;
}
.first_place img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  /* background-color: #fff; */
  padding: 9px;
  border: 1px solid #000;
}
.first_place {
  color: #fff;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 17px;
}
.first_place h5 {
  font-size: 15px;
  color: #383838;
}
.first_place h3 {
  margin-bottom: 0;
  color: #232323;
}
.tournament_decrip .card {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.no_req {
  color: #fff;
  text-align: center;
  padding: 43px;
}
.tour_inf {
  font-weight: 400;
  color: #dedede;
  margin-bottom: 17px;
}
.support_descrip h5 {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
.support_descrip p {
  color: #636363;
  margin-top: 25px;
}
.leader_table table tbody tr td:nth-child(1) img {
  width: 45px;
  height: 45px;
  /* border-radius: 50%; */
  object-fit: contain;
  margin-right: 12px;
  border-radius: 6px;
}
/**************** Login Section Start *****************/
.login-section h1 {
  font-size: 56px;
  line-height: 1.35;
  letter-spacing: -0.02em;
}
.login-section .login-form {
  width: 40%;
  background: #ffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 5px -4px rgb(0, 0, 0);
  -moz-box-shadow: 0px 3px 5px -4px rgb(0, 0, 0);
  -o-box-shadow: 0px 3px 5px -4px rgb(0, 0, 0);
  box-shadow: 0px 3px 5px -4px rgb(0, 0, 0);
  margin: 0 auto;
}
.login-section .login-form .login-form-bg {
  padding: 50px 50px;
  margin: 46px 0;
}
.login-section .login-form .login-headline {
  font-size: 24px;
  line-height: 32px;
}
.login-section .login-form .acc-heading {
  color: #9e9e9e;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.login-section .login-form .forget-heading {
  color: #9e9e9e;
  font-weight: 700;
  line-height: 17px;
  font-size: 13px;
}
.login-section .login-form .forget-heading a:hover {
  color: #007bff !important;
}
.login-section .login-form .signup-heading-account a:hover {
  color: #007bff !important;
}
.login-section .login-form .formRow {
  position: relative;
  width: 100%;
}

.login-section .login-form .formRow--item {
  display: block;
  width: 100%;
}

.login-section .login-form .formRow--input {
  position: relative;
  padding: 15px 3px 12px;
  width: 100%;
  outline: none;
  /* border: solid 1px #95989a; */
  border-radius: 4px;
  color: #2c3235;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 16px;
  resize: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px solid #9e9e9e;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.login-section .login-form .formRow--input-wrapper {
  position: relative;
  display: block;
  width: 100%;
}
.login-section .login-form .formRow--input-wrapper.active {
  border-bottom: 2px solid #1976d2 !important;
}
.login-section .login-form .formRow--input-wrapper.active .eye-icon {
  color: #1976d2;
}
.login-section .login-form .formRow--input-wrapper.active .placeholder {
  top: -5px;
  color: #1976d2;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 11px;
  line-height: 14px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.login-section .login-form .formRow--input-wrapper.active textarea {
  border-bottom: 0 !important;
}
.login-section
  .login-form
  .formRow--input-wrapper.active
  .formRow--input:not(:focus):not(:hover)
  ~ .placeholder {
  color: #1976d2;
}

.login-section .login-form .formRow--input-wrapper .formRow--input:focus,
.formRow--input-wrapper .formRow--input:hover {
  border-color: #2b2b2bde;
}

.login-section .login-form .formRow .placeholder {
  position: absolute;
  top: 21%;
  left: 10px;
  display: block;
  color: #95989a;
  white-space: nowrap;
  letter-spacing: 0.2px;
  font-weight: normal;
  font-size: 16px;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -7px;
}
.login-section .login-form .formRow--item .eye-icon {
  position: absolute;
  top: 16px;
  right: 4px;
  font-size: 19px;
  color: #9e9e9e;
}
.login-section .login-form form .login-btn {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  transition: 0.2s ease-in 0.1;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.login-section .login-form form .login-btn:hover {
  background-color: #dcdcdc;
}
.login-section .login-form form .signup-heading-account {
  font-size: 16px;
  font-weight: 400;
  color: #9e9e9e;
}
.login-section .login-form form .count-icon {
  color: #9e9e9e;
  font-size: 12px;
}
.login-section .forget-heading {
  font-size: 16px;
}
.error i {
  padding-right: 11px;
}
.error {
  color: #f41e1e;
}
.remember_me input[type='checkbox'] {
  display: none;
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}

.remember_me .check-box {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.remember_me .check-box::before,
.remember_me .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}
.remember_me .check-box::before {
  top: 15px;
  left: 10px;
  /*box-shadow: 0 0 0 5px #667788;*/
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.remember_me .check-box::after {
  top: 6px;
  left: -1px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.remember_me input[type='checkbox']:checked + .check-box,
.remember_me .check-box.checked {
  border-color: #34b93d;
}
.remember_me input[type='checkbox']:checked + .check-box::after,
.remember_me .check-box.checked::after {
  height: 14px;
  max-height: 14px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
.remember_me input[type='checkbox']:checked + .check-box::before,
.remember_me .check-box.checked::before {
  height: 27px;
  max-height: 27px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
.remember_me span {
  margin-left: 26px;
  width: 113px;
  display: block;
  margin-top: -4px;
}
.timezone_select label {
  color: #989898;
}
.timezone_select select {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
  background: transparent url(../images/black_drop.png) no-repeat;
  background-size: 14px;
  background-position: 100% center;
  -webkit-appearance: none;
  padding: 0px 3px 12px;
}
.timezone_select select:focus {
  outline: 0;
}
.timezone_select .date_icon {
  position: relative;
  margin-top: 10px;
}
.timezone_select .date_icon[type='date']::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.timezone_select .date_icon[type='date']::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  position: absolute;
  right: -11px;
  top: 25px;
  /*margin-top: 25px;*/
}
.products h2 {
  color: #fff;
}
.store_data h4 {
  color: #000;
}
.store_data h5 {
  color: #404040;
}

.store_data a:hover {
  text-decoration: none;
}
.store_data a:hover .card {
  background-color: #d0d0d0;
  transition: all 0.4s ease-in-out;
}
.store_data .card img {
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
.store_data a:hover .card img {
  filter: grayscale(0%);
}
.store_data .card {
  position: relative;
  margin-bottom: 30px;
}
.add_to_c button {
  position: absolute;
  bottom: 20px;
  padding: 4px 10px !important;
  right: 10px;
}
.store_data .modal-dialog {
  max-width: 800px;
}
.store_data .modal-dialog .modal-content {
  background-color: #f1f1f1;
}
.store_data .add_prod img {
  width: 100px;
  height: 100px;
}
.store_data .add_prod h5 {
  margin-bottom: 0;
}
.store_data table th,
.store_data table td {
  vertical-align: middle;
}
.store_data .add_prod .quantity input {
  border-radius: 5px;
  border: 0;
  border: 1px solid #000;
  padding: 5px 5px;
  width: 57px;
}
.store_data .add_prod .remove_icon a {
  background-color: #a70101;
  border-radius: 50%;
  color: #fff;
  /* padding: 3px 10px; */
  height: 30px;
  width: 30px;
  display: block;
  vertical-align: middle;
  text-align: center;
  font-size: 19px;
}
.payment_section {
  background-color: #f1f1f1;
  border-radius: 8px;
}
.payment_section h5 {
  color: #292727;
  font-weight: bold;
  font-size: 18px;
}
.apply_input {
  width: 200px !important;
}
.payment_section .apply_code {
  padding: 0 20px !important;
}

.errors {
  font-size: 13px;
  margin-bottom: 2px;
}
.radio_btn {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio_btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio_btn .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #c3c3c3;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_btn input:checked ~ .checkmark {
  background-color: #6471f0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_btn .checkmark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}
.payment_form {
  background: #fff;
  padding: 31px 28px;
  border-radius: 8px;
}
.store_data .congo_btn {
  max-width: 577px !important;
}
.profile_img {
  position: relative !important;
}
.profile_img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.profile_img .ddrp-all-game {
  width: 50px;
  right: 0;
  position: absolute;
  /* left: 0; */
  top: 46px;
  border-radius: 8px;
}
.profile_img .ddrp-all-game ul {
  margin-bottom: 0;
}
.profile_img .ddrp-all-game ul li a {
  padding: 10px 19px;
  display: block;
  transition: 0.2s linear !important;
  color: #fff;
}
.profile_img .ddrp-all-game ul li a:hover {
  background-color: #fff;
  text-decoration: none;
  color: #000;
}
.profile_side {
  margin-top: 150px;
}
.profile_side .card {
  position: relative;
  border-radius: 8px;
  background-color: #f7f7f7;
}
.card_image {
  position: absolute;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #fff;
  top: -124px;
  box-shadow: 1px 0px 16px rgb(76, 76, 76);
  display: inline-block;
}
.profile_side .card .card-img-top {
  /* position: absolute; */
  border-radius: 50%;
  height: 200px;
  /* width: 200px; */
  object-fit: cover;
  /* left: 0; */
  /* right: 0; */
  /* margin: auto; */
  border: 3px solid #fff;
  /* top: -124px; */
  /* box-shadow: 1px 0px 16px rgb(76, 76, 76); */
  /* display: inline-block; */
}
.ccrd_md {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
a.edit_profile_pic {
  position: absolute;
  right: 17px;
  top: 29px;
}
button.close {
  position: absolute;
  right: 0;
  background: none !important;
  color: #000 !important;
  border: none !important;
  box-shadow: none;
}
.profile_side .card_sec {
  margin-top: 70px;
}
.profile_side .card_sec h5 {
  font-size: 24px;
}
.profile_side .card_sec h5 span {
  font-size: 15px;
  color: #bf0202;
}
.profile_side .flag_icon {
  font-size: 18px;
}
.profile_side .flag_icon img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-top: -2px;
}
.prize_won_sec {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 22px 25px;
}
.prize_won_sec .side_text a {
  color: #0561af;
  font-size: 15px;
}
.tourna_imgs img {
  height: 30px;
  width: 30px;
}
.profile_info nav {
  background-color: #eaeaea !important;
}
.profile_info nav .nav-pills .nav-link.active {
  color: #000;
}
.profile_info .team_detail h6 {
  font-size: 18px;
}
.profile_info {
  margin-top: 38px;
}
.ddrp-all-game {
  top: 87px;
}

/* Style */
a.text-danger {
  text-decoration: none;
}
.bg-primary {
  background-color: #7bd9eb !important;
}

.height-100 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-400 {
  max-width: 400px;
}

img.form-logo {
  max-width: 151px;
}

.form-card .form-control {
  border-radius: 14px;
  font-size: 16px;
  padding: 12px 27px;
  box-shadow: 0 0 8px 2px #00000026;
}

.form-card .btn {
  padding: 12px 17px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 13px;
}

input.mkcheckbox {
  height: 20px;
  width: 20px;
  position: relative;
}

input.mkcheckbox::before,
input.mkcheckbox::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

input.mkcheckbox::before {
  background-color: #fff;
  top: 0;
  left: 0;
}

input.mkcheckbox:checked::after {
  content: '\f00c';
  font-family: FontAwesome;
  color: #000;
  top: -1px;
  font-size: 15px;
  right: -3px;
}

ul.sidebar-menu.tree {
    padding-top: 17px;
    background-color: #ecf0f5;
}

ul.sidebar-menu.tree>li>a{
	background-color:#fff !important;
	color:#333 !important;
}

ul.sidebar-menu.tree>li>a:hover{
	background-color:#7bd9eb !important;
	color:#fff !important;
}


.dashboard-bg {
  background-color: #7bd9eb !important;
}

aside.main-sidebar{
	background-color:#fff !important;
}

.mt-0{margin-top:0px !important;}

.sidebar-collapse .user-panel {
  display: none !important;
}

.sidebar-menu > li > a {
  line-height: 14px !important;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse
  ul.sidebar-menu.tree
  > li:hover
  > a
  > .pull-right-container {
  top: -19px !important;
}

.search-form .form-control,
.search-form .btn {
  background-color: #fff !important;
}

.sidebar-menu > li.header {
  background-color: #52bbcf !important;
  color: #fff !important;
}

.sidebar-menu > li > a {
  color: #fff !important;
}

.sidebar-menu > li > a:hover,
.sidebar-menu > li.active > a {
  background-color: #52bbcf !important;
}

.box.box-primary {
  border-color: #52bbcf !important;
}

.main-header li.user-header {
  background-color: #52bbcf !important;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #7bd9eb !important;
}

.heightH-100 {
  min-height: calc(100vh - 50px) !important;
}

.main-header .navbar .sidebar-toggle:hover {
  background-color: #52bbcf !important;
}

.pannel-footer {
  margin-top: -51px;
  position: relative;
  z-index: 9;
}
.content-wrapper.heightH-100 {
  padding-bottom: 51px;
}

.layout-top-nav .content-wrapper,
.layout-top-nav .main-footer {
  margin-left: 0;
}

aside.main-sidebar {
  background-color: #7bd9eb;
}

@media (max-width: 1200px) {
  .mega_dropdown {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
@media (max-width: 991px) {
  .ladder_sec {
    border-right: 0;
    border-bottom: 1px solid #fff;
    margin: 16px 0;
  }
  .ladder_sec:not(:nth-child) {
    border-bottom: 1px solid transparent;
  }
  .ladder_sec button {
    margin-bottom: 40px;
  }
  .ladder_icon span {
    font-size: 25px !important;
    margin-left: 6px !important;
  }
  .double_heading .total-teams {
    display: block !important;
  }
  .inner_bg_img .img_bnn {
    align-items: inherit !important;
  }
  .black_shadow .col-lg-6 {
    border-right: 0 !important;
  }
  .poster_img img {
    width: 250px;
  }
  .black_shadow {
    margin-top: 58px;
  }
  .toura_row_bg .bor_right {
    border-right: 0 !important;
  }
  .toura_row_bg .entry_bdr {
    border-top: 1px solid #f5f5f5;
    padding: 14px 0;
  }
  .poster_tabs .flex_tabs a.active {
    padding: 12px 80px;
    width: 100%;
    text-align: center;
  }
  .poster_tabs .flex_tabs a {
    width: 100%;
    text-align: center;
  }
  .trophy_rank {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .trophy_rank .trophys span {
    display: block;
    margin-top: 17px;
    width: 100%;
  }
  .store_data .card {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .team_detail {
    text-align: left;
    margin-left: 18px;
  }
  .poster_tabs .flex_tabs a.active,
  .poster_tabs .flex_tabs a {
    padding: 12px 0px;
  }
  .login-section .login-form {
    width: 93%;
  }
  /*#footer-three {
        margin-top: 2160px !important;
    }*/
  .toura_row_bg .toura_sm_img {
    margin-right: 0 !important;
  }
  .toura_sm_img img {
    width: 100%;
    min-height: 200px;
  }
  .toura_row_bg .d-flex {
    display: block !important;
  }
  .toura_row_bg p {
    padding: 12px;
  }
  .poster_img .time-count {
    left: 24px;
    right: 0;
  }
  .tournament_info nav ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .first_place {
    margin-bottom: 12px;
  }
  .prize_detail .col-md-4.bor_right {
    border-right: 0 !important;
    /*border-bottom: 1px solid #5f5f5f;*/
  }
  .game_descrip .bor_right {
    border-right: 0 !important;
  }
  .inner_bg_img .img_bnn {
    padding: 12px 13px !important;
  }
  .current_div .country_name,
  .current_div .game_icons {
    padding: 12px 6px;
  }
  .side_text.bor_right {
    border-right: 0 !important;
    border-bottom: 1px solid #5f5f5f !important;
  }
  .prize_won_sec .side_text {
    margin-top: 12px;
  }
  .prize_won_sec .tourna_imgs.bor_right {
    border-right: 0 !important;
    display: flex;
  }
  .prize_won_sec .tourna_imgs.bor_right .mb-4,
  .prize_won_sec .tourna_imgs .mb-4 {
    margin-right: 15px;
  }
  .profile_info {
    margin-top: 28px;
  }
  .prize_won_sec .tourna_imgs {
    display: flex;
  }
  .profile_info .team_detail {
    margin-top: 16px;
  }
  .profile_img .ddrp-all-game {
    width: 50px;
    right: 0;
    position: absolute;
    left: 0;
    top: 46px;
    border-radius: 8px;
    /*margin: auto;*/
  }
  .dual-nav ul {
    text-align: left !important;
  }
  .other_pages_s .mr-sm-2 {
    margin-right: 12px;
  }
  .other_pages_s button {
    padding: 6px 35px !important;
  }
  .mobile_text_center button {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .src-inner-item img {
    margin-bottom: 20px;
  }
  .banner-tittle {
    padding: 90px 0;
  }
  .mobile_cart_data .product_drescip {
    display: block !important;
  }
  .pagin_link .modal-5 a {
    margin: 0 2px;
  }
  .leaderank_sec h2 {
    margin-top: 37px;
  }
  .img_bnn .current_div {
    display: block !important;
  }
  .img_bnn .current_div .bor_right {
    border-right: 0 !important;
  }
  .inner_page .inner_bg_img {
    height: 100%;
  }
  .mobile_cart_data .product_drescip .ml-3 {
    margin-left: 0 !important;
  }
  .store_data .add_prod img {
    object-fit: contain;
  }
  .store_data .add_prod h5 {
    font-size: 14px;
  }
  .store_data .add_prod p {
    font-size: 10px;
  }
  .modal-footer {
    display: block !important;
    width: 100%;
  }
  .modal-footer button {
    width: 100%;
    margin-left: 0 !important;
  }
  .payment_section .apply_code {
    padding: 10px 20px !important;
    margin-top: 12px;
  }
  .payment_form {
    padding: 31px 17px;
  }
  .payment_form .mobile_text_center {
    text-align: center !important;
  }
  .payment_form .submit_btn {
    margin-top: 0 !important;
  }
  .side_text.bor_bottom {
  }
}
.all_game_list [class*='col-'] {
  margin-bottom: 30px;
}
.all_games_pg img {
  width: 100%;
  height: 264px;
  background-repeat: no-repeat;
  object-fit: cover;
  border: 2px solid #757575;
}
.all_game_list {
  margin-top: 68px;
}
.all_game_list h1 {
  color: #fff;
  margin-bottom: 25px;
}
.all_games_pg {
  padding: 42px 0 0;
}
.all_game_list [class*='col-'] {
  margin-bottom: 30px;
}
.current-profile-img img {
  width: 150px;
  margin: 25px 0;
  object-fit: cover;
}
.current-profile-img {
  text-align: center;
}
.no-tournaments h2 {
  color: #fff;
}
.mix_album_div {
  min-width: 89px;
  max-width: 89px;
}
.tournament-detail {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 0 14px;
}
.inner_bg_img_tourn {
  position: relative;
  height: 500px;
}
.cover-img-tourn {
  height: 500px;
  object-fit: cover;
}
.game_descrip h5 {
  color: #fff;
  padding: 22px;
}

/* design for django messages*/
.alert {
  border-radius: 3px;
}
.alert h4 {
  font-weight: 600;
}
.alert .icon {
  margin-right: 10px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  border-color: #008d4c;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}
